<div class="center-wrap" *ngIf="this.deliveryOrder !==null && this.deliveryOrder!==undefined">
  <div class="maintenance-card" style="margin: auto;    width: 100%;">

      <div class="maintenance-row">
          <div class="col-md-12">
              <div class="row mb-2">
                  <div class="col-md-6">
                      <a routerLink="/admin/grpo" class="back-btn">
                          <i class="fa fa-arrow-left fa-2x mr-2" aria-hidden="true"></i>
                      </a>
                      <label for="item-searchbar" *ngIf="this.mode==='edit'" class="section-title">{{'Edit Delivery Order' | translate}}</label>
                      <label for="item-searchbar" *ngIf="this.mode!=='edit'" class="section-title">{{'Create Delivery Order' | translate}}</label>
                  </div>

                  <div class="col-md-6 text-right">

                      <dx-button class="mr-2" icon="search" type="success" routerLink="/admin/grpo" text="{{'Find' | translate}}"></dx-button>
                      <dx-button class="mr-2" icon="add" type="default" routerLink="/admin/purchase" text="{{'New' | translate}}"></dx-button>
                      <!-- <dx-button class="mr-2" *ngIf="this.deliveryOrder?.status!=='C'" (onClick)="closeGRPO()" icon="fas fa-check" type="danger" text="{{'Close' | translate}} GRPO"></dx-button> -->
                      <!--  <i class=""></i> -->
                      <dx-button class="mr-2" *ngIf="this.deliveryOrder?.status!=='C'" type="success" (onClick)="saveModel()" icon="floppy" text="{{'Save' | translate}}"></dx-button>

                      <dx-button class="mr-2 btn-print" icon="fa fa-print" text="{{'Print' | translate}}" (onClick)="PrintDetail(this.deliveryOrder)" style="color: #fff;"></dx-button>
                  </div>
              </div>
          </div>

          <div class="col-md-12">
              <div class="item-search-nav">
                  <div class=" row">
                      <div class="col-md-8 ">
                          <div class="row">
                              <div class="col-md-3">
                                  <label for="purchaseId">{{'Id' | translate}}</label>
                                  <dx-text-box [readOnly]="true" [(value)]="this.deliveryOrder.transId"></dx-text-box>
                              </div>
                                <div class="col-md-9">
                                      <label for="customer">{{'Customer' | translate}}</label>
                                      <dx-text-box  [(value)]="this.deliveryOrder.cusName" aria-placeholder="Title" [readOnly]="true"></dx-text-box>
                                     
                                  </div>
                                  
                                  <div class="col-md-3 mt-2">
                                      <label for="storeId">{{'Refer SO' | translate}}</label>
                                      <dx-text-box [readOnly]="true" [(value)]="this.deliveryOrder.refTransId"></dx-text-box>
                                  </div>
                                  <div class="col-md-3 mt-2" *ngIf="this.deliveryOrder.createdBy!==null">
                                      <label for="storeId">{{'Created By' | translate}}</label>
                                     
                                      <dx-text-box [readOnly]="true" [(value)]="this.deliveryOrder.createdBy"></dx-text-box>
                                    
                                  </div>
                                  <div class="col-md-3 mt-2" *ngIf="this.deliveryOrder.createdBy!==null">
                                    <label for="storeId">{{'Bill of lading code' | translate}}</label>
                                   
                                    <dx-text-box  [(value)]="this.deliveryOrder.luckyNo"></dx-text-box>
                                  
                                  </div>
                                  
                                  <div class="col-md-3 mt-2" *ngIf="this.mode==='edit'">
                                      <label for="storeId">{{'Created On' | translate}}</label>
                                      
                                      <dx-date-box [readOnly]="true" #createdOn id="createdOn" [displayFormat]="this.dateFormat + ' HH:mm:ss'" [(ngModel)]="this.deliveryOrder.createdOn" [(value)]="this.deliveryOrder.createdOn"> </dx-date-box>
                                   
                                  </div>
                              </div>
                          <!-- <div class="row">
              <dx-text-box class="col-md-3" [readOnly]="true" [(value)]="this.deliveryOrder.purchaseId"></dx-text-box> 
              <dx-text-box class="col-md-9" [readOnly]="this.mode==='edit'" [(value)]="this.deliveryOrder.comment"></dx-text-box> 

            </div> -->

                      </div>
                      <div class="col-md-4" >
                          <label for="comment">{{'Remark' | translate}}</label>
                          <dx-text-box [readOnly]="this.mode==='edit'" [(value)]="this.deliveryOrder.remarks" aria-placeholder="Title">
                          </dx-text-box>
                          <label class="mt-2" for="InvoiceAddress">{{'Invoice Address' | translate}}</label>
                          
                          <!-- <div *dxTemplate="let data of 'content'">
                            <dx-data-grid [dataSource]="this.customerAddress" 
                                [columns]="['storeId', 'storeName']" [selection]="{ mode: 'multiple' }" 
                                [hoverStateEnabled]="true" keyExpr="storeId" 
                                [paging]="{ enabled: true, pageSize: 10 }" [filterRow]="{ visible: true }" 
                                [scrolling]="{ mode: 'virtual' }" [height]="345" [(selectedRowKeys)]="gridBoxValue">
                            </dx-data-grid>
                        </div> -->
                            <ng-container *ngIf="customerAddress?.length > 0" >
                                <!-- <dx-drop-down-box [(value)]="this.deliveryOrder.cusAddress" [readOnly]="this.mode==='edit'" 
                                valueExpr="value" displayExpr="name" placeholder="Select a address..." 
                                [showClearButton]="true" [dataSource]="this.customerAddress">
    
                                </dx-drop-down-box> -->

                                <dx-select-box [searchEnabled]="true"  
                                [items]="this.customerAddress" placeholder="{{'Address' | translate}}" 
                                displayExpr="name" valueExpr="value"  ></dx-select-box>
                            </ng-container>
                            <ng-container *ngIf="customerAddress?.length === 0" >
                                <dx-text-area [readOnly]="this.mode==='edit'" [height]="90" [(value)]="this.deliveryOrder.cusAddress">
                                </dx-text-area>
                            </ng-container>
                          <!-- " -->
                          <!-- <dx-button class="mr-2" (onClick)="openModal(promotemplate)" icon="copy" type="success" text="Copy promotion"></dx-button> -->
                      </div>
                  </div>



              </div>
              <div class="row mt-2">
                  <!-- <div class="col-md-8"> -->
                      <!-- <div class="row"> -->
                          <!-- <div class="col-md-3">
                              <label for="storeId">{{'Store' | translate}}</label>
                              <dx-select-box [readOnly]="this.mode==='edit'" id="storeId" #cbbStore  [items]="this.storeList" [(value)]="this.deliveryOrder.storeId" [(ngModel)]="this.deliveryOrder.storeId" (onValueChanged)="onFromStoreChanged(cbbStore.selectedItem)"  displayExpr="storeName" valueExpr="storeId" itemTemplate="item">

                                  <div *dxTemplate="let data of 'item'" class="custom-item">
                                      <div class='product-name'>{{data.storeId}} - {{data.storeName}}</div>
                                  </div>
                              </dx-select-box>
                          </div> -->
                          <!-- <div class="col-md-3">
                              <label for="customer">{{'Vendor' | translate}}</label>
                              <dx-select-box [readOnly]="this.mode==='edit'" id="customer" #store [items]="this.customerList" [(value)]="this.deliveryOrder.cardCode" [(ngModel)]="this.deliveryOrder.cardCode" [searchEnabled]="true" displayExpr="customerName" valueExpr="customerId" itemTemplate="item"
                                  [searchEnabled]="true" searchMode="contains" [searchExpr]="['customerId', 'customerName']">

                                  <div *dxTemplate="let data of 'item'" class="custom-item">
                                      <div class='product-name'>{{data.customerId}} - {{data.customerName}}</div>
                                  </div>
                              </dx-select-box>
                          </div>
                          <div class="col-md-3">
                              <label for="docDate">{{'Posting date' | translate}}</label>
                              <dx-date-box #docDate [readOnly]="this.mode==='edit'" id="docDate" [displayFormat]="this.dateFormat" [(ngModel)]="this.deliveryOrder.docDate" [(value)]="this.deliveryOrder.docDate"> </dx-date-box>
                          </div>
                          <div class="col-md-3">
                              <label for="docDate">{{'Delivery date' | translate}}</label>
                              <dx-date-box #docDueDate [readOnly]="this.mode==='edit'" id="docDueDate" [displayFormat]="this.dateFormat" [(ngModel)]="this.deliveryOrder.docDueDate" [(value)]="this.deliveryOrder.docDueDate">
                              </dx-date-box>
                          </div>
                      </div> -->
                      <!-- <div class="row mt-2" *ngIf="this.mode==='edit'">
                          <div class="col-md-3" *ngIf="this.deliveryOrder.purchaseId!==null">
                              <label for="storeId">{{'Doc Status' | translate}}</label>

                              <dx-select-box [readOnly]="true" [style]="{'width':'100%'}" name="status" placeholder="--- Select Status ---" [dataSource]="statusOptions" displayExpr="name" valueExpr="value" [(ngModel)]="this.deliveryOrder.status" [(value)]="this.deliveryOrder.status"></dx-select-box>

                          </div>

                          <div class="col-md-3">
                              <label for="storeId">{{'Refer PO' | translate}}</label>
                              <dx-text-box [readOnly]="true" [(value)]="this.deliveryOrder.refTransId"></dx-text-box>
                          </div>
                          <div class="col-md-3" *ngIf="this.deliveryOrder.createdBy!==null">
                              <label for="storeId">{{'Created By' | translate}}</label>
                              <dx-text-box [readOnly]="true" [(value)]="this.deliveryOrder.createdBy"></dx-text-box>
                                                      </div>
                          <div class="col-md-3" *ngIf="this.deliveryOrder.createdOn!==null">
                              <label for="storeId">{{'Created On' | translate}}</label>
                              <dx-date-box [readOnly]="true" #createdOn id="createdOn" [displayFormat]="this.dateFormat + ' HH:mm:ss'" [(ngModel)]="this.deliveryOrder.createdOn" [(value)]="this.deliveryOrder.createdOn"> </dx-date-box>
                           
                          </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <label for="InvoiceAddress">{{'Invoice Address' | translate}}</label>
                      <dx-text-area [readOnly]="this.mode==='edit'" [height]="90" [(value)]="this.deliveryOrder.invoiceAddress">
                      </dx-text-area>
                  </div> -->

                  <div class="col-md-12">
                      <div class="table-wrap mt-2 mb-2  ">
                          <dx-data-grid #dataGrid id="goodsreceipt" [(dataSource)]="this.deliveryOrder.lines" 
                          [allowColumnResizing]="true" [columnResizingMode]="true" (onRowPrepared)="onRowPrepared($event)" keyExpr="lineId" [columnAutoWidth]="true" [wordWrapEnabled]="true" [showBorders]="true">
                              <!-- <dxo-column-fixing [enabled]="true"></dxo-column-fixing> -->

                              <!-- <dxi-column type="buttons" [width]="110">
                <dxi-button name="edit"></dxi-button>
                <dxi-button name="delete"></dxi-button>
                
              </dxi-column> -->
                              <dxo-editing mode="cell" [allowAdding]="false" [useIcons]="true" [allowUpdating]="true" [allowDeleting]="this.mode!=='edit'"></dxo-editing>
                              <!-- <dxo-editing 
                  mode="row"
                  [allowUpdating]="true"
                  [allowAdding]="true">
              </dxo-editing> -->
                              <dxi-column dataField="itemCode"keyExpr="keyId" [minWidth]="250" [fixed]="false" [allowEditing]="this.mode!=='edit'" caption="{{'Item Code' | translate}}" editCellTemplate="itemDropDownBoxEditor">
                                  <!-- <dxo-lookup [dataSource]="this.itemList" displayExpr="itemCode" valueExpr="itemCode"></dxo-lookup> -->
                                  <dxi-validation-rule type="required"></dxi-validation-rule>
                              </dxi-column>
                              <dxi-column dataField="itemCode" [visible]="false" [allowEditing]="false" caption="{{'Item Code' | translate}}">
                              </dxi-column>
                              <dxi-column dataField="description" [allowEditing]="false" caption="{{'Description' | translate}}"></dxi-column>
                              <!-- <dxi-column dataField="itemCode"  [fixed]="true" caption="Item Code" [minWidth]="250" [allowEditing]="true"   editCellTemplate="itemDropDownBoxEditor">
                <dxo-lookup [dataSource]="this.itemList" displayExpr="itemName" valueExpr="itemCode"> </dxo-lookup>
                  <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>   -->
                              <dxi-column alignment="center" dataField="barCode" [allowEditing]="false" caption="{{'Barcode' | translate}}" [minWidth]="150"> </dxi-column>
                              <dxi-column alignment="center" dataField="slocId" caption="{{'SLoc' | translate}}" [minWidth]="120" [allowEditing]="this.mode!=='edit'">
                                  <!-- <dxo-lookup [dataSource]="this.storageList" displayExpr="slocId" valueExpr="slocId"> </dxo-lookup>
                                  <dxi-validation-rule type="required"></dxi-validation-rule> -->
                              </dxi-column>
                              <!--  -->
                              <dxi-column alignment="center" dataField="uomCode" [allowEditing]="false" caption="{{'UoM' | translate}}" [minWidth]="120">
                                  <!-- <dxo-lookup  [dataSource]="this.uomList" displayExpr="uomName" valueExpr="uomCode"> </dxo-lookup>
                  <dxi-validation-rule type="required"></dxi-validation-rule> -->
                              </dxi-column>
                              <dxi-column alignment="right" dataField="price" [allowEditing]="false" [customizeText]="customizeText" [minWidth]="120" caption="{{'Price' | translate}}"></dxi-column>
                              <dxi-column   alignment="right" dataField="orgQty" [format]="this.authService.numberFormat('quantity')" [allowEditing]="this.mode!=='edit'" caption="{{'Quantity' | translate}} SO" dataType="number" [minWidth]="120">
                              </dxi-column>
                              <dxi-column  alignment="right" dataField="quantity" [format]="this.authService.numberFormat('quantity')" [allowEditing]="this.mode!=='edit'" caption="{{'Delivery Quantity' | translate}}" dataType="number" [minWidth]="120">
                              </dxi-column>
                            
                              <!-- <dxi-column *ngIf="this.mode==='edit'" alignment="right" dataField="quantity" [format]="this.authService.numberFormat('quantity')" [allowEditing]="this.mode!=='edit'" caption="{{'Quantity' | translate}} GRPO" dataType="number" [minWidth]="120">
                              </dxi-column> -->
                              <!-- <dxi-column alignment="center" dataField="currencyCode"  [allowEditing]="false" caption="Currency" [minWidth]="80"> </dxi-column> -->
                              <!-- <dxi-column dataField="currencyRate" caption="Currency Rate" [minWidth]="80"> </dxi-column> -->
                              <!-- <dxi-column alignment="center" dataField="taxCode" caption="Tax Code" [minWidth]="120" editCellTemplate="changeTaxCodeEditor">
                <dxo-lookup [dataSource]="this.taxList" displayExpr="taxName" valueExpr="taxCode" > </dxo-lookup>
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
              <dxi-column alignment="center" dataField="taxRate"  [visible]="false" caption="Tax Rate" [minWidth]="80"> </dxi-column>
              <dxi-column alignment="right"  dataField="taxAmt" [calculateCellValue]="taxAmtCellValue" [allowEditing]="false" caption="Tax Amt" dataType="number"[minWidth]="120"> </dxi-column>
                -->
                              <dxi-column alignment="right" dataField="lineTotal" alignment="right" [customizeText]="customizeText" [calculateCellValue]="lineTotalCellValue" [allowEditing]="false" caption="{{'Line Total' | translate}}" [minWidth]="120"> </dxi-column>
                              <dxi-column dataField="comment" caption="{{'Remark' | translate}}" [minWidth]="220"> </dxi-column>
                              <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
                              <dxo-summary [recalculateWhileEditing]="true">
                                  <dxi-total-item column="lineTotal" summaryType="{{'sum' | translate}}" [customizeText]="customizeText">

                                  </dxi-total-item>
                                  <dxi-total-item column="quantity" summaryType="{{'sum' | translate}}" [valueFormat]="this.authService.numberFormat('quantity')"></dxi-total-item>
                              </dxo-summary>
                              <!--  -->
                              <div *dxTemplate="let cellInfo of 'itemDropDownBoxEditor'">
                                  <dx-drop-down-box [dropDownOptions]="{ width: this.authService.getWindowWidth() - (10 * this.authService.getWindowWidth()) / 100 }" [dataSource]="itemList" [(value)]="cellInfo.value" displayExpr="itemCode" valueExpr="keyId" contentTemplate="contentTemplate">
                                      <div *dxTemplate="let e of 'contentTemplate'">

                                          <div class="col-md-12" >
                                              <form [formGroup]="itemSearchForm" id="itemSearchForm" >  
                                                  <div class="col-md-12" style="clear: both;">
                                                      <ng-container *ngFor="let item of this.groupControlList"> 
                                                              <div class="row"> 
                                                                  <ng-container *ngFor="let value of item.arrayGroup">  
                                                                       
                                                                      <div class="col-md-4 mb-2"  >
                                                                          <div class="row">
                                                                              <div class="col-md-4 d-flex align-items-center">
                                                                              
                                                                                  <label *ngIf="item.controlType==='TextBox' " for="{{value.controlId}}"> {{value.controlName | translate}}</label>
                                                                                  <label *ngIf="item.controlType !=='TextBox' " [ngClass]="status ? 'd-block' : 'd-none'" for="{{value.controlId}}"> {{value.controlName | translate}}</label>
                                                                              </div>
                                                                              <div class="col-md-8">
                                                                                  <dx-switch *ngIf="item.controlType==='CheckBox'" [ngClass]="status ? 'd-block' : 'd-none'" [(ngModel)]="searchModel[value.controlId]" formControlName="{{value.controlId}}" name="{{value.controlId | translate}}" [(value)]="searchModel[value.controlId]"></dx-switch>
                                  
                                                                                  <input *ngIf="item.controlType==='TextBox' " class="form-control" id="{{value.controlId}}" formControlName="{{value.controlId}}" name="{{value.controlId | translate}}" [(ngModel)]="searchModel[value.controlId]">
                                          
                                                                                  <dx-date-box name="{{value.controlId | translate}}" [ngClass]="status ? 'd-block' : 'd-none'" [value]="searchModel[value.controlId]" [displayFormat]="this.authService.loadFormat().dateFormat" formControlName="{{value.controlId}}" [(ngModel)]="searchModel[value.controlId]" *ngIf="item.controlType==='DateTime'"
                                                                                      type="datetime">
                                                                                  </dx-date-box>
                                          
                                                                                  <dx-select-box *ngIf="item.controlType==='DropDown'" [ngClass]="status ? 'd-block' : 'd-none'" showClearButton="true" [style]="{'width':'100%'}" formControlName="{{value.controlId}}" name="{{value.controlId | translate}}" placeholder="--- {{'Select' | translate}} {{value.controlName | translate}} ---"
                                                                                      [dataSource]="this[value.optionName]" displayExpr="{{value.optionKey}}" valueExpr="{{value.optionValue}}" [(ngModel)]="searchModel[value.controlId]" [value]="searchModel[value.controlId]"></dx-select-box>
                                                                          
                                                                              </div>
                                  
                                                                          </div>
                                                                      </div>
                                                                  </ng-container>
                                                              </div>
                                                         
                                                      </ng-container>
                                  
                                                  </div>
                                                  <div class="col-md-12 mb-2 " style="float: right; text-align: right;">
                                                      <dx-button icon="search" text="{{'Search' | translate}}" (onClick)="searchItem()"></dx-button>
                                                  </div> 
                                              </form>
                                          </div>
                                         
                                          <dx-data-grid #itemGrid keyExpr="keyId" [dataSource]="itemList" [remoteOperations]="true" class="col-md-12"  style="margin-top: 60px;"
                                          [height]="(this.authService.getWindowHeight() * 55/ 100) -80" [allowColumnResizing]="true" [selectedRowKeys]="[cellInfo.value]" [focusedRowEnabled]="true" [focusedRowKey]="cellInfo.value"
                                              [hoverStateEnabled]="true" (onSelectionChanged)="onItemSelectionChanged( $event.selectedRowKeys, cellInfo, $event,e, e.component)">
                                              <dxi-column dataField="itemCode" caption="{{'Item Code' | translate}}"></dxi-column>
                                              <dxi-column dataField="itemName" caption="{{'Item Name' | translate}}"></dxi-column>
                                              <dxi-column dataField="uomName" caption="{{'UoM' | translate}}"></dxi-column>
                                              <dxi-column dataField="barCode" caption="{{'Barcode' | translate}}"></dxi-column>
                                              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                                              <dxo-scrolling mode="virtual"></dxo-scrolling>
                                              <dxo-selection mode="single"></dxo-selection>
                                          </dx-data-grid>
                                      </div>
                                  </dx-drop-down-box>
                              </div>

                              <div *dxTemplate="let cellInfo of 'changeTaxCodeEditor'">
                                  <dx-drop-down-box #gridTaxBox [dropDownOptions]="{ width: this.authService.getWindowWidth() - (10 * this.authService.getWindowWidth()) / 100 }" [dataSource]="taxList" [(value)]="cellInfo.value" [allowColumnResizing]="true" displayExpr="taxName" valueExpr="taxCode"
                                      contentTemplate="contentTemplate">
                                      <div *dxTemplate="let e of 'contentTemplate'">
                                          <dx-data-grid #itemGrid keyExpr="taxCode" [dataSource]="taxList" [remoteOperations]="true" [height]="this.authService.getWindowHeight() * 55/ 100 " [selectedRowKeys]="[cellInfo.value]" [focusedRowEnabled]="true" [focusedRowKey]="cellInfo.value" [hoverStateEnabled]="true"
                                              (onSelectionChanged)="onTaxSelectionChanged( $event.selectedRowKeys, cellInfo, $event,e, e.component)">
                                              <dxi-column dataField="taxCode"></dxi-column>
                                              <dxi-column dataField="taxName"></dxi-column>

                                              <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                                              <dxo-scrolling mode="virtual"></dxo-scrolling>
                                              <dxo-selection mode="single"></dxo-selection>
                                          </dx-data-grid>
                                      </div>
                                  </dx-drop-down-box>
                                  <!-- <dx-drop-down-box #gridTaxBox [(value)]="cellInfo.value" valueExpr="taxCode" 
                        displayExpr="taxName"
                        placeholder="Select tax..." contentTemplate="contentTemplate" [showClearButton]="true" [dataSource]="this.taxList" >
                    <div *dxTemplate="let e of 'contentTemplate'">
                        <dx-data-grid   keyExpr="taxCode"  [dataSource]="this.taxList"
                                [columns]="['taxCode', 'taxName']" [selection]="{ mode: 'single' }"
                                [hoverStateEnabled]="true" [paging]="{ enabled: true, pageSize: 10 }"
                                [filterRow]="{ visible: false }" [scrolling]="{ mode: 'infinite' }"
                                [height]="345" [(selectedRowKeys)]="cellInfo.value"
                                (onSelectionChanged)= "onTaxSelectionChanged( $event.selectedRowKeys, cellInfo, $event, e, e.component)"
                                >
                          <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                          <dxo-search-panel [visible]="true"  [width]="240"  placeholder="Search..."
                          location="before"></dxo-search-panel>
                          <dxo-scrolling mode="virtual"></dxo-scrolling>
                        </dx-data-grid>
                    </div>
                </dx-drop-down-box> -->
                              </div>
                              <!-- getFilteredUom(cell) (onFocusIn)="isDropDownBoxOpened(dropDownUoM,cell.data)"-->
                              <div *dxTemplate="let cell of 'changeUoMCodeEditor'">
                                  <dx-drop-down-box #dropDownUoM [(value)]="cell.data.uomCode" valueExpr="uomCode" displayExpr="uomName" placeholder="Select UoM..." [showClearButton]="true" [dataSource]="this.uomList">
                                      <div *dxTemplate="let data of 'content'">
                                          <dx-data-grid #gridUoMBox keyExpr="uomCode" [dataSource]="this.uomList" [columns]="['uomCode', 'uomName']" [selection]="{ mode: 'single' }" [hoverStateEnabled]="true" [paging]="{ enabled: true, pageSize: 10 }" [filterRow]="{ visible: false }" [scrolling]="{ mode: 'infinite' }"
                                              [height]="345" [(selectedRowKeys)]="cell.data.uomCode" (onSelectionChanged)="onUoMSelectionChanged($event, cell)">
                                              <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                                              <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..." location="before">
                                              </dxo-search-panel>
                                              <dxo-scrolling mode="virtual"></dxo-scrolling>
                                          </dx-data-grid>
                                      </div>
                                  </dx-drop-down-box>
                              </div>
                              <div *dxTemplate="let line of 'detail'">
                                  <!-- <ng-container *ngIf="line.data.lines!==null"> -->
                                  <div class="master-detail-caption">{{'Serial' | translate}}:</div>
                                  <dx-data-grid [dataSource]="line.data.lines" keyExpr="serialNum" [showBorders]="true" [columnAutoWidth]="true">
                                      <dxi-column type="buttons" [width]="110">
                                          <dxi-button name="edit"></dxi-button>
                                          <dxi-button name="delete"></dxi-button>

                                      </dxi-column>
                                      <dxo-editing mode="row" [allowAdding]="true" [useIcons]="true" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>

                                      <dxi-column dataField="serialNum" caption="Serial Num"></dxi-column>
                                      <dxi-column dataField="frSlocId" caption="From Bins"></dxi-column>
                                      <dxi-column dataField="toSlocId" caption="To Bins"></dxi-column>
                                      <dxi-column dataField="quantity" caption="Quantity"></dxi-column>
                                      <dxi-column dataField="uomCode" caption="UoM"></dxi-column>
                                  </dx-data-grid>
                                  <!-- </ng-container> -->

                              </div>

                          </dx-data-grid>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>