<div class="center-wrap">
  <div class="maintenance-card" style="margin: auto;    width: 100%;">
      <div class='row'>
          <div class='col-md-10'>
              <div class="search-wrap">
                  <label for="item-searchbar" class="section-title">{{'Bank Terminal' | translate}}</label>

              </div>
          </div>
          <div class='col-md-1'>
          
          </div>
          <div class='col-md-1'>
          
          </div>
      </div>

      <div class="table-wrap mt-2 ">
          <!--   -->
          <dx-data-grid [style]="{'max-height':'calc(100vh - 22vh)','overflow':'auto'}" id="dataGrid" #dataGrid 
          
                (onToolbarPreparing)="onToolbarPreparing($event)" 
                (onEditingStart)="mode='E'" (onInitNewRow)="mode='N'" (onSaved)="save($event)" (onRowRemoved)="remove($event)"
              [dataSource]="this.list" [allowColumnResizing]="true" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true">
              <!-- <dxo-editing mode="row"  [useIcons]="true" [allowUpdating]="true" >
              </dxo-editing> -->
              <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter> 
             <dxo-search-panel [visible]="true" [width]="540" placeholder="{{'Search' | translate}}" location="before"></dxo-search-panel>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
 
              <dxi-column dataField="companyCode" caption="{{'CompanyCode' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="storeId" caption="{{'StoreId' | translate}}" dataType="string"> </dxi-column>

              <dxi-column dataField="name" caption="{{'Name' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="code" caption="{{'Code' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="description" caption="{{'Description' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="customF1" caption="{{'Custom F1' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="customF2" caption="{{'Custom F2' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="customF3" caption="{{'Custom F3' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="customF4" caption="{{'Custom F4' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="customF5" caption="{{'Custom F5' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="status" caption="{{'Status' | translate}}" dataType="string"> </dxi-column>

              
             <dxi-column cellTemplate="cellTemplate" [width]="300"></dxi-column>

              <div *dxTemplate="let cell of 'cellTemplate'" >
                  <!-- <div [innerHtml]="cell.data.status | statusFormat"></div> -->
                  <div class="row">
                    <div class="col-md-6 row">
                        <div >
                            <dx-button [ngStyle]="{'background-color':cell.data?.status === 'A' ? ' red' : ' green' }" icon="fas fa-check-circle"  
                            [text]="cell.data?.status === 'A' ? 'InActive' : 'Active'" (onClick)="apply(cell.data)"></dx-button>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 row">
                        <div >
                            <dx-button  icon="fas fa-eye" style="width:100%" text="{{'View' | translate}}" (onClick)="openModal(false,cell.data,template)"></dx-button>
                    
                        </div>
                    </div> -->
                    <div class="col-md-6">
                      
                          <dx-button *ngIf="cell.data?.status === 'A'" (onClick)="openModal(false,cell.data,template)" text="{{'View' | translate}}"></dx-button>
                  </div>
                 


                  </div>
                 
              
              </div>
              <ng-template #template >
                <div class="modal-header">
                    <h4 class="modal-title pull-left" id="my-modal-title">{{'Table Infor' | translate}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> 
                  <img src="../../../assets/images/System/times.svg">
                </button>
                </div>
                <div class="modal-body">
                  <div class="row" >
                    <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{'Company code ' | translate}}  </div>
                        <div class="col-md-8">
                            
                          <dx-text-box #txtcompanyCode [(ngModel)]="this.model.companyCode" [disabled]="this.isNew===false" [value]="this.model?.companyCode" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                         
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{'Store id ' | translate}}  </div>
                        <div class="col-md-8">
                            
                          <dx-text-box #txtstoreId [(ngModel)]="this.model.storeId" [disabled]="this.isNew===false" [value]="this.model?.storeId" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                         
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{'Status' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-select-box #cbbStatus [items]="listStatus" [(ngModel)]="this.model.status" displayExpr="name" [value]="this.model?.status" valueExpr="value" 
                          placeholder="-- Select status --"></dx-select-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">

                        <div class="col-md-4">{{'Code ' | translate}}  </div>
                        <div class="col-md-8">
                            
                          <dx-text-box #txtcode [(ngModel)]="this.model.code"  [value]="this.model?.code" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                         
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{'Name ' | translate}}  </div>
                        <div class="col-md-8">
                            
                          <dx-text-box #txtname [(ngModel)]="this.model.name"  [value]="this.model?.name" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                         
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' CustomF1 ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtcustomF1 [value]="this.model?.customF1" [(ngModel)]="this.model.customF1" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                    <div class="col-md-6 row" style="margin-top: 10px;">
                      <div class="col-md-4">{{' CustomF2 ' | translate}}  </div>
                      <div class="col-md-8">
                        <dx-text-box  #txtcustomF2 [value]="this.model?.customF2" [(ngModel)]="this.model.customF2" placeholder="{{'' | translate}}"
                         >
                        </dx-text-box>
                      </div>
                    </div>
                    <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' CustomF3' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtcustomF3 [value]="this.model?.customF3" [(ngModel)]="this.model.customF3" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' CustomField4 ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtcustomF4 [value]="this.model?.customF4" [(ngModel)]="this.model.customF4" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' CustomField5 ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtcustomF5 [value]="this.model?.customF5" [(ngModel)]="this.model.customF5" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' Description ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtdescription [value]="this.model?.description" [(ngModel)]="this.model.description" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' ConnectType ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtconnectType [value]="this.model?.connectType" [(ngModel)]="this.model.connectType" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' Type ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txttype [value]="this.model?.type" [(ngModel)]="this.model.type" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' DataBits ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtdataBits [value]="this.model?.dataBits" [(ngModel)]="this.model.dataBits" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' Port ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtport [value]="this.model?.port" [(ngModel)]="this.model.port" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' Parity ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtparity [value]="this.model?.parity" [(ngModel)]="this.model.parity" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>

                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' Value ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtvalue [value]="this.model?.value" [(ngModel)]="this.model.value" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' Condition1 ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtcondition1 [value]="this.model?.condition1" [(ngModel)]="this.model.condition1" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' Condition2 ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtcondition2 [value]="this.model?.condition2" [(ngModel)]="this.model.condition2" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' Condition3 ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtcondition3 [value]="this.model?.condition3" [(ngModel)]="this.model.condition3" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' Condition4 ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtcondition4 [value]="this.model?.condition4" [(ngModel)]="this.model.condition4" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>
                      <div class="col-md-6 row" style="margin-top: 10px;">
                        <div class="col-md-4">{{' Condition5 ' | translate}}  </div>
                        <div class="col-md-8">
                          <dx-text-box  #txtcondition5 [value]="this.model?.condition5" [(ngModel)]="this.model.condition5" placeholder="{{'' | translate}}"
                           >
                          </dx-text-box>
                        </div>
                      </div>



                  </div>
                  <div style="text-align:right;margin-top: 15px;">
                      <button (click)="saveInfo()" class="btn-agree width-200 height-60">{{'Save Changes' | translate}}</button>
                  
                    </div>
                </div>
                
              </ng-template>
              <div *dxTemplate="let data of 'totalGroupCount'">
                  <dx-select-box [searchEnabled]="true" style="min-width: 300px;" [items]="this.storelist" placeholder="{{'Store' | translate}}" displayExpr="storeName" valueExpr="storeId" (onValueChanged)="loadCounter($event)"></dx-select-box>
              </div>
              <div *dxTemplate="let data of 'counterTemplate'">
                <!-- publicIP: string; -->
                <dx-select-box [searchEnabled]="true" #ddlCounter style="min-width: 300px;" [items]="this.counters" placeholder="{{'Counter' | translate}}" displayExpr="publicIP" valueExpr="publicIP" (onValueChanged)="selectCounter(ddlCounter.value)"></dx-select-box>
            </div>
           
           
          </dx-data-grid>
      </div>
     
  </div>
</div>

<!-- <ng-template #template >
<div class="modal-header">
<h4 class="modal-title pull-left" id="my-modal-title">Currency</h4> 
<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> 
<img src="../../../assets/images/System/times.svg">
</button>
</div>

<div class="modal-body">
<div class="row">

<app-management-currency-edit [model]="this.model"  style="width: 100%" (outModel)="updateModel($event)"></app-management-currency-edit> 
</div>
</div>
</ng-template>  -->