span.red {
    background: red;
     border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.5em;
    margin-right: 15px;
    text-align: center;
    width: 2.5em; 
  }
  
  span.grey {
    background: #cccccc;
    border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.5em;
    margin-right: 15px;
    text-align: center;
    width: 2.5em; 
  }
  
  span.green {
    background: #5EA226;
    border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.5em;
    margin-right: 15px;
    text-align: center;
    width: 2.5em; 
  }
  
  span.blue {
    background: #5178D0;
    border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.5em;
    margin-right: 15px;
    text-align: center;
    width: 2.5em; 
  }
  
  span.pink {
    background: #EF0BD8;
    border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 2.5em;
    margin-right: 15px;
    text-align: center;
    width: 2.5em; 
  }