<form [formGroup]="editForm" id="editForm" (ngSubmit)="update()" >
    <div  class="col-md-12">
        <div class="row">
            <ng-container *ngFor="let item of this.controlList">
                 
                <div class="col-md-6 form-group" *ngIf="checkPermission(item.controlId,'V')">
                    <label for="{{item.controlId}}">  {{item.controlName | translate}} <span *ngIf="item.require" class= "error"> *</span></label>
                    <input *ngIf="item.controlType==='TextBox'" [required]="item.require" class="form-control" id="{{item.controlId}}"
                       [attr.disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId,'E')?'disabled':null" 
                       formControlName="{{item.controlId}}"
                        name="{{item.controlId | translate}}" [(ngModel)]="model[item.controlId]">

                    <dx-date-box name="{{item.controlId | translate}}" [value]="model[item.controlId]" [displayFormat]="this.authService.loadFormat().dateFormat + ' HH:mm:ss'" formControlName="{{item.controlId}}" [(ngModel)]="model[item.controlId]" *ngIf="item.controlType==='DateTime' && checkPermission(item.controlId,'V')"
                        type="datetime" [disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId ,'E')?'disabled':null">

                    </dx-date-box>
                    <dx-number-box name="{{item.controlId | translate}}" [value]="model[item.controlId]" 
                        [format]="this.authService.formatNumberByPattern()" 
                        formControlName="{{item.controlId}}" [(ngModel)]="model[item.controlId]" 
                        *ngIf="item.controlType==='NumberBox'"
                         [disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId ,'E')?'disabled':null">
                    </dx-number-box>
                    <dx-date-box name="{{item.controlId | translate}}" [value]="model[item.controlId]" 
                        [displayFormat]="this.authService.loadFormat().dateFormat" formControlName="{{item.controlId}}" [(ngModel)]="model[item.controlId]"
                        *ngIf="item.controlType==='Date' && checkPermission(item.controlId,'V')"
                        type="datetime" [disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId ,'E')?'disabled':null">

                    </dx-date-box>
                    <dx-date-box name="{{item.controlId | translate}}" [value]="model[item.controlId]" 
                        displayFormat="HH:mm:ss" formControlName="{{item.controlId}}" [(ngModel)]="model[item.controlId]"
                        *ngIf="item.controlType==='Time' && checkPermission(item.controlId,'V')"
                        type="time" [disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId ,'E')?'disabled':null">

                    </dx-date-box>
                    
                <ng-container *ngIf="item?.controlType?.toLowerCase() ==='checkbox'">
                    <br />
                    <dx-switch *ngIf="item.controlType==='CheckBox' && checkPermission(item.controlId,'V')" [(ngModel)]="model[item.controlId]" formControlName="{{item.controlId}}" name="{{item.controlId}}"
                     [(value)]="model[item.controlId]" 
                     [disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId ,'E')?'disabled':null"></dx-switch>
                    
                </ng-container>
                    <dx-select-box *ngIf="item?.controlType==='DropDown' && checkPermission(item.controlId,'V')" [style]="{'width':'100%'}" 
                       formControlName="{{item.controlId}}" name="{{item.controlId}}" placeholder="--- {{'Select' | translate}} {{item.controlName | translate}} ---"
                        [dataSource]="this[item.optionName]" displayExpr="{{item.optionKey}}" valueExpr="{{item.optionValue}}" [disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId ,'E')?'disabled':null"
                        [(ngModel)]="model[item.controlId]" [value]="model[item.controlId]" (onValueChanged)="
                       item.controlId ==='settingId' ? settingChange($event) :  ''"></dx-select-box>
                        <label *ngIf="item.require && editForm.get(item.controlId).invalid" [ngClass] = "'error'"> {{item.controlName | translate}} {{'is required' | translate}}. </label>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="col-md-12 text-right">
        <button  *ngIf="checkPermission('btnSave' ,'V')" form="editForm" class="btn-agree width-200 height-60">{{'Save Changes' | translate}}</button>
    </div>
</form> 
<!-- [disabled]="!editForm.valid || !editForm.dirty" -->