.textWaiver {
    color: #333;
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
}

hr.style1 {
    border-top: 2px solid black;
}

hr.style4 {
    border-top: 1px dotted #8c8b8b;
}

@media print {
    .breakTop {
        page-break-before: always;
    }
    .breakFooter {
        page-break-after: always;
    }
}

@media all {
    .page-break {
        display: block;
        page-break-before: always;
        page-break-after: always;
    }
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
        page-break-after: always;
    }
}