<div class="center-wrap">
    <div class="maintenance-card" style="margin: auto;    width: 100%;">
        <div class="search-wrap">
            <label for="item-searchbar" class="section-title">{{'Item Unit Of Mesure' | translate}}</label>

        </div>
        <div class="table-wrap">
            <dx-data-grid [style]="{'max-height':'calc(100vh - 20vh)','overflow':'auto'}" id="gridContainer" 
            (onToolbarPreparing)="onToolbarPreparing($event)" [dataSource]="this.items" [showBorders]="true"  [showRowLines]="true">

                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true" [width]="540" placeholder="{{'Search' | translate}}..." location="before"></dxo-search-panel>
                <dxo-scrolling mode="virtual"></dxo-scrolling>


                <dxi-column dataField="itemCode" caption="{{'Item Code' | translate}}" dataType="string"> </dxi-column>
                <dxi-column dataField="uomCode" caption="{{'UoM Code' | translate}}" dataType="string" alignment="center"> </dxi-column>
                <dxi-column dataField="factor" caption="{{'Factor' | translate}}" dataType="string" alignment="right"> </dxi-column>
                <dxi-column dataField="barCode" caption="{{'Barcode' | translate}}" dataType="string"> </dxi-column>
                <dxi-column dataField="qrCode" caption="{{'QRCode' | translate}}" dataType="string"> </dxi-column>
                <!-- <dxi-column dataField="status" caption="Status" dataType="string"> </dxi-column> -->
                <dxi-column alignment="center" dataField="status" cellTemplate="statusTemplate" caption="{{'Status' | translate}}"></dxi-column>

                <dxi-column cellTemplate="cellTemplate"></dxi-column>
                <div *dxTemplate="let cell of 'cellTemplate'">
                    <dx-button icon="fas fa-eye" text="{{'View' | translate}}" (onClick)="openModal(false, cell.data, template)"></dx-button>
                </div>
                <div *dxTemplate="let cell of 'statusTemplate'">
                    <div [innerHtml]="cell.data.status | statusFormat"></div>
                </div>

            </dx-data-grid>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left" id="my-modal-title">{{'Item UoM' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> 
      <img src="../../../assets/images/System/times.svg">
    </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <app-managemen-itemuom-edit [model]="this.model" style="width: 100%" (outModel)="updateModel($event)"></app-managemen-itemuom-edit>

            <!-- <app-management-store-edit [model]="this.store"  style="width: 100%" (outModel)="updateModel($event)"></app-management-store-edit>  -->
        </div>
    </div>
</ng-template>