<div id='discount-modal'>
    <div class="modal-header">
        <h4 class="modal-title pull-left" id="my-modal-title"> {{'Filter Voucher' | translate}}</h4>
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()"> 
      <img src="../../../assets/images/System/times.svg">
    </button> -->
    </div>
    <div class="modal-body">
        <div class="row" style="width: 100%;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2" style="padding-top: 15px;">
                        {{'ItemCode' | translate}}:
                    </div>
                    <div class="col-md-4">
                        <div class="search-wrap main-search">
                            <!-- <i class="fas fa-list-ol"></i> -->
                            <!-- <input class="form-control" type="text" [(ngModel)]="this.item.quantity" placeholder="Quantity" aria-label="Quantity"> -->

                        </div>
                    </div>
                    <div class="col-md-2" style="padding-top: 15px;">
                        {{'Quantity' | translate}}:
                    </div>
                    <div class="col-md-4">
                        <div class="search-wrap main-search">
                            <!-- <i class="fas fa-list-ol"></i> -->
                            <!-- <input class="form-control" type="text" [(ngModel)]="this.item.quantity" placeholder="Quantity" aria-label="Quantity"> -->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>