
<div class="center-wrap">
    <div class="maintenance-card" style="margin: auto;    width: 100%;">
        <div class="search-wrap">
            <label for="item-searchbar" class="section-title">{{'Table infor import' | translate}}</label>

        </div>
        <div class="row">
            <div class="col-md-10">
                <dx-button class="mr-2" (onClick)="downloadTemplate()" icon="xlsxfile" type="default" text="{{'Template' | translate}}"> </dx-button>
                <dx-button stylingMode="outlined" type="default" [width]="120"> 
                    <label style="margin:.1rem;"><i class="fas fa-paperclip"></i>{{'Select File' | translate}}<input hidden type="file" (change)="onFileChange($event)" multiple="false"></label>
                </dx-button>
            </div>
            <div class="col-md-2" style="text-align: right;">
                <dx-button (onClick)="onImportData()" *ngIf="this.importContent.length > 0" icon="fas fa-file-import" type="success" text="{{'Import' | translate}}"> </dx-button>
            </div>
        </div>
        <div class="row" *ngIf="this.importContent.length > 0" style="padding-top: 10px;">
            <div class="col-md-12">
                <dx-data-grid id="gridContainer" [dataSource]="this.importContent" [columnAutoWidth]="true" [showBorders]="true">
                    <dxi-column dataField="tableId" caption="{{'tableId' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="tableName" caption="{{'tableName' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="status" caption="{{'Status' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="description" caption="{{'Description' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="height" caption="{{'Height' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="width" caption="{{'Width' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="long" caption="{{'Long' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="slot" caption="{{'Slot' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="remark" caption="{{'Remark' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="customField1" caption="{{'CustomField1' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="customField2" caption="{{'CustomField2' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="customField3" caption="{{'CustomField3' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="customField4" caption="{{'CustomField4' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="customField5" caption="{{'CustomField5' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="success" *ngIf="this.isResult" caption="{{'Success' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="message" *ngIf="this.isResult" caption="{{'Message' | translate}}" dataType="string"> </dxi-column>

                </dx-data-grid>
            </div>
        </div>
    </div>
</div>