<div id='discount-modal'>
    <div class="modal-header">
        <h4 class="modal-title pull-left" id="my-modal-title"> {{'Item Serial' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> 
      <img src="../../../assets/images/System/times.svg">
    </button>
    </div>
    <div class="modal-body">
        <div class="row" style="width: 100%;">
            <div class="col-md-5">
                <div class="col-icon-search">
                    <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                    <input class="form-control" type="search" #filter (change)="filterBy(filter.value)" (keyup)="filterBy(filter.value)" placeholder="{{'Search' | translate}}" aria-label="Search">
                </div>
            </div>
            <div class="col-md-1">
                <dx-button *ngIf="this.isCreateSerial" style="width: 100%;" icon="add" type="success" (onClick)="createSerial(filter.value)">
                </dx-button>
            </div>
            <div class="col-md-4">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        {{'Quantity' | translate}}:
                    </div>
                    <div class="col-md-10">
                        <!-- <i class="fas fa-list-ol"></i> -->
                        <input class="form-control" type="text" [(ngModel)]="this.quantity" placeholder="{{'Quantity' | translate}}" aria-label="Quantity">
                    </div>
                </div>
            </div>

            <div class="col-md-2 text-center">
                <dx-button style="width: 100%;" icon="check" type="success" text="{{'Select' | translate}}" (onClick)="saveSelection()">
                </dx-button>

            </div>

            <div class="col-md-12">
                <div id="grid">
                    <div class="row mt-2 mb-2">
                        <div class="col-md-2">
                            <dx-button style="width: 100%;" icon="sortdown" type="warning" text="{{'Top' | translate}}" (onClick)="selectFromTop()"> </dx-button>
                        </div>
                        <div class="col-md-2">
                            <dx-button style="width: 100%;" icon="indent" type="warning" text="{{'Random' | translate}}" (onClick)="selectRandom()"> </dx-button>
                        </div>
                        <div class="col-md-8">
                            <label *ngIf="this.selectedKey.length > 0">{{'Serial Selected' | translate}}: </label> {{this.selectedKey}} </div>
                    </div>
                    <dx-data-grid id="grid-container" [dataSource]="this.itemSerials" keyExpr="serialNum" [(selectedRowKeys)]="this.selectedKey" [showBorders]="true">
                        <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <!-- <dxo-filter-row
                  [visible]="true"
              ></dxo-filter-row> -->
                        <dxi-column dataField="serialNum" caption="{{'Serial Num' | translate}}"></dxi-column>

                        <dxi-column dataField="expDate" dataType="Exp Date" alignment="right" dataType="datetime" format="d/M/yyyy" caption="{{'EXP Date' | translate}}"></dxi-column>

                    </dx-data-grid>

                    <!-- <div class="options">
              <div class="caption">Options</div>
              <div class="option">
                  <span>Select All Mode</span>
                  <dx-select-box
                      id="select-all-mode"
                      [dataSource]="['allPages', 'page']"
                      [(value)]="allMode"
                      [disabled]="checkBoxesMode === 'none'"
                  ></dx-select-box>
              </div>
              <div class="option checkboxes-mode">
                  <span>Show Checkboxes Mode</span>
                  <dx-select-box
                      id="show-checkboxes-mode"
                      [dataSource]="['none', 'onClick', 'onLongTap', 'always']"
                      [(value)]="checkBoxesMode"
                  ></dx-select-box>
              </div>
          </div> -->
                </div>

            </div>
            <!-- <div class="col-md-12">
        <div class="row">
          <div class="left-grid"> 
            <div class="col-md-12"  > 
              <div class="search-wrap main-search">
                <img src="../../../../../assets/images/System/search.svg" alt="search" class="img-fluid">
                
                  <input class="form-control" type="search" #filter   (change)="filterBy(filter.value)" (keyup)="filterBy(filter.value)" placeholder="Search" aria-label="Search">
                
              </div>
              
            </div>
          </div>
        
        </div>
        <div class="main-content " >
          
          <div class="row">
            <div class="col-md-12"  > 
              <div class="table-wrap">
                <div class="item-search-table custom-table">
                  <div class="t-head">
                    <div class="t-row">
                      <div class="t-cell cell-item">
                        <p>Serial Num</p>
                      </div>
                      <div class="t-cell cell-name">
                        <p>Expire Date</p>
                      </div>
                      
                      <div class="t-cell cell-action">
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="t-body vertical-scroll"  style="width: 100%; display: inline-block;">
                    <div class="t-row" *ngFor="let item of this.itemSerials" >
                      <div class="t-cell cell-item">
                        <p>{{item.serialNum}}</p>
                      </div>
                      <div class="t-cell cell-name">
                        <p>{{item.expDate | dateFormat}}</p>
                      </div>
                      
                      <div class="t-cell cell-action">
                      
                        <a class="secondary-btn" (click)="SelectSerial(item)">Select</a>
                      </div>
                    </div>
                
                  </div>
                </div>
              </div>
    
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-12">
              <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" 
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        
                </pagination>
            </div>
          </div>
        </div>
      </div> -->

        </div>
    </div>
</div>