.delivery__background{
    background-color: white;
    padding:20px;
    margin: 20px;
    height:800px;
    border:1px solid #f0f0f0;
    border-radius: 10px;
}
.delivery__fsw{
    font-size: 21px;
    font-weight: 700;
}




