 
<div class="center-wrap">
  <div class="maintenance-card" style="margin: auto; width:100%">
      <div class="cl-fs" *ngIf="this.deliveryOrder != null">
          <div class="row text-right">
              <div class="col-md-6 offset-md-6 text-right bt-info">
                  <!-- <dx-button *ngIf="this.version==='en'" (onClick)="switchVersion()" class="mr-4" stylingMode="outlined" icon="flag-icon flag-icon-gb" type="default"> </dx-button>
                  <dx-button *ngIf="this.version==='vi'" (onClick)="switchVersion()" class="mr-4" stylingMode="outlined" icon="flag-icon flag-icon-vn" type="default"> </dx-button> -->
                  <dx-button class="btn-print" icon="fa fa-print" text="Print" (onClick)="PrintPage()" style="color: #fff;"></dx-button>
              </div>
          </div>

          <ng-container *ngIf="this.version === 'vi'">
              
                  <div class="table-wrap"  *ngIf="this.deliveryOrder != null">
                      <ng-container *ngIf="this.companyName?.toLowerCase().includes('arena')">
                          <table class="tblHeader">
                              <tr>
                                  <td style="text-align:center ;">
                                      <img src="/assets/images/jump.png" style=" max-height: 80px; ">
                                  </td>
                                  <td class="text-center" colspan="4">
                                      <h2 class="title-con" style="font-size: 22px; text-align: center; font-weight: 700;"> {{ this.companyName }}</h2>
                                      <br />
                                      <h2 class="title-con" style="    font-size: 25px; text-align: center; font-weight: 700;">Phiếu Vận Chuyển</h2>
                                  </td>
                                 
                              </tr>
                            
                          </table>

                      </ng-container>
                      <ng-container *ngIf="!this.companyName?.toLowerCase().includes('arena')">
                          <h3>{{this.companyName}}</h3>
                          <h2 class="text-center mb-4"><b>Phiếu Vận Chuyển</b></h2>
                      </ng-container>

                    
                     
                     
                      <table class="tblHeader" style="margin-top: 20px ;">
                          <tr>
                              <td width="50%">
                                
                                      <span class="col-md-2 w-p-5 p-0"><b>Mã vận chuyển:</b></span>
                                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.transId}}</span>
                                 
                              </td>
                              <td  width="50%">
                                 
                                      <span class="col-md-2 w-p-5 p-0"><b>Cửa hàng:</b></span>
                                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.storeId}} -
                                          {{this.deliveryOrder.storeName}}</span>
                                  
                              </td>
                             
                          </tr>
                          <tr>
                              <td width="50%">
                                  <span class="col-md-2 w-p-5 p-0"><b>Mã mua hàng:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.refTransId}}</span>
                              </td>
                              <td  width="50%" *ngIf="this.deliveryOrder.shiftId !== null">
                                  <span class="col-md-2 w-p-5 p-0"><b>Mã ca:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.shiftId}}</span>
                              </td>
                             
                          </tr>
                         
                      </table>
                      <table class="tblHeader">
                          <tr>
                              <td colspan="2"  width="100%"  >
                                  <span class="col-md-2 w-p-5 p-0"><b>Khách hàng:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.cusName}}</span>
                              </td>
                              
                          </tr>
                          <!-- <tr> 
                              <td colspan="2" >
                                  <span class="col-md-2 w-p-5 p-0"><b>Địa chỉ:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.cusAddress}}</span>
                              </td>
                             
                          </tr>
                          <tr>
                              <td width="50%">
                                  <span class="col-md-2 w-p-5 p-0"><b>Ngày chứng từ: </b></span>
                              <span class="col-md-10 w-p-10">{{this.deliveryOrder.docDate | date: 'dd/MM/yyyy' }}</span>
                              </td>
                              <td  width="50%">
                                  <span class="col-md-2 w-p-5 p-0"><b>Ngày tới hạn:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.docDueDate | date: 'dd/MM/yyyy' }}</span>
                              </td>
                             
                          </tr> -->
                          <tr>
                              <td width="50%">
                                  <span class="col-md-2 w-p-5 p-0"><b>Người tạo:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.createdBy }}</span>
                              </td>
                              <td  width="50%">
                                  <span class="col-md-2 w-p-5 p-0"><b>Ngày giờ tạo:</b></span>
                              <span class="col-md-10 w-p-10">{{this.deliveryOrder.createdOn | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                              </td>
                             
                          </tr>
                          <tr>
                              <td  colspan="2" >
                                  <span class="col-md-2 w-p-5 p-0"><b>Trạng thái:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.status }}</span>
                              </td>
                          
                             
                          </tr>
                          <tr>
                               
                              <td colspan="2" >
                                  <span class="col-md-2 w-p-5 p-0"><b>Địa chỉ:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.cusAddress  }}</span>
                              </td>
                             
                          </tr>
                          <tr>
                               
                              <td colspan="2" >
                                  <span class="col-md-2 w-p-5 p-0"><b>Ghi chú:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.remarks }}</span>
                              </td>
                             
                          </tr>
                      </table>
                     
                          <table class="tblLine" style="margin-top: 20px ;">
                              <tr>
                                  <th class="text-center">STT .</th>
                                  <th>Mã sản phẩm</th>
                                  <th>Tên sản phẩm</th>
                                  <th style="width: 10%">Barcode</th>
                                  <th class="text-center">ĐVT</th>
                                
                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'false'" > 
                                      <th class="text-right">Đơn giá</th>
                                      <th class="text-right">Số lượng đặt</th> 
                                      <th class="text-right">Số lượng v/c</th> 
                                      <th class="text-right">Tổng tiền</th>
                                  </ng-container>
                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'true'" >
                                     
                                      <th class="text-right">Đơn giá</th>
                                      <th class="text-right">Số lượng đặt</th> 
                                      <th class="text-right">Số lượng v/c</th>
                                      <th class="text-right">Thành tiền</th>
                                      <th class="text-right">Tiền thuế</th>
                                      
                                  </ng-container>
                                
                              </tr>
                              <tr *ngFor="let item of this.deliveryOrder.lines; let i = index">
                                  <td class="text-center">{{i + 1}}</td>
                                  <td>{{item.itemCode}}</td>
                                  <td>{{item.description}}</td>
                                  <td>{{item.barCode}}</td>
                                  <td class="text-center">{{item.uomCode}}</td>
                                  
                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'false' " > 
                                      <td class="text-right">{{item.price | number:'1.0-6'}}</td>
                                      <td class="text-right">{{item.orgQty | number:'1.0-6'}}</td>
                                      <td class="text-right">{{item.quantity | number:'1.0-6'}}</td>
                                      <td class="text-right">{{item.lineTotal | number:'1.0-6'}}</td>
                                  </ng-container>
                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'true' " > 
                                      <td class="text-right">{{item.priceBfVAT | number:'1.0-6'}}</td> 
                                      <td class="text-right">{{item.orgQty | number:'1.0-6'}}</td>
                                      <td class="text-right">{{item.quantity | number:'1.0-6'}}</td>
                                      <td class="text-right">{{item.lineTotalBfVAT | number:'1.0-6'}}</td>
                                      <td class="text-right">{{(item.lineTotal - item.lineTotalBfVAT)  | number:'1.0-6'}}</td>
                                      
                                  </ng-container>

                                 
                              </tr>
                              <tr>
                                
                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'false'" >
                                      <td  style="border-right-color: #fff; font-weight: 600;" colspan="7">Tổng:</td>
                                      <td class="text-right" style="border-right-color: #fff" > {{this.deliveryOrder.sumQuantity | number:'1.0-6'}}</td>
                                      
                                      <td class="text-right"  >{{this.deliveryOrder.sumLineTotal | number:'1.0-6'}}</td>
                                  </ng-container>
                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'true'" >
                                      <td  style="font-weight: 600;" colspan="7">Tổng:</td>
                                      <td class="text-right" style=" font-weight: 600;" > {{this.deliveryOrder.sumQuantity | number:'1.0-6'}}</td>
                                      <td class="text-right" style=" font-weight: 600;">{{this.sumLineTotalBfVAT | number:'1.0-6'}}</td>
                                      <td class="text-right" style=" font-weight: 600;">{{this.sumTaxLineTotalBfVAT | number:'1.0-6'}}</td>
                                      
                                  </ng-container> 
                               
                              </tr>
                          </table>
                      </div>
                      <table class="tblHeader mt-3">
                          <tr>
                              <td width="60%">
                                
                              </td>
                              <td  width="40%" class="text-center">
                                  <span class="col-md-3 col-print-3 p-0"><b>Ngày in:</b></span>
                                  <span class="col-md-9 col-print-9">{{this.date | date:"dd/MM/yyyy HH:mm:ss"}} </span>
                                
                              </td>
                             
                          </tr>
                          <tr>
                              <td width="60%">
                                
                              </td>
                              <td width="40%"  class="text-center" >
                                   <b>Ngày:................................</b> 
                              </td>
                             
                          </tr>
                       
                      </table>
                  
                 
                  <table class="tblHeader">
                      <tr style="text-align: center ; height: 100px;">
                          <td width="25%">
                              <b>Người lập</b>
                          </td>
                          <td width="25%">
                              <b>Kế toán</b>
                          </td>
                          <td width="25%">
                              <b>Thủ kho</b>
                          </td>
                          <td width="25%">
                              <b>Người vận chuyển</b>
                          </td>
                         
                      </tr>
                   
                  </table>
              <!-- </div> -->


              <!-- <div class="table-wrap" *ngIf="this.deliveryOrder != null">
                  <h3>{{this.companyName}}</h3>
                  <h2 class="text-center mb-4"><b>GRPO</b></h2>
                  <div class="row" *ngIf="this.deliveryOrder.shiftId !== null">
                      <span class="col-md-2 w-p-5 p-0"><b>Mã ca:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.shiftId}}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Mã mua:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.purchaseId}}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Mã vận chuyển:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.refTransId}}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Cửa hàng:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.storeId}} -
                          {{this.deliveryOrder.storeName}}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Mã thẻ:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.cardCode}}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Tên thẻ:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.cardName}}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Được tạo bởi:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.createdBy }}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Ngày tạo:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.createdOn | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Ngày bắt đầu</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.docDate | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Ngày hết hạn:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.createdOn | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Địa chỉ:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.invoiceAddress  }}</span>
                  </div>

                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Trạng thái:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.status }}</span>
                  </div>
                  <div class="row">
                      <span class="col-md-2 w-p-5 p-0"><b>Ghi chú:</b></span>
                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.comment }}</span>
                  </div>
                  <div class="row mt-4" *ngIf="this.deliveryOrder.lines.length > 0">
                      <table class="w-100 table-template">
                          <tr>
                              <th class="text-center">STT</th>
                              <th>Mã sản phẩm</th>
                              <th>Tên sản phẩm</th>
                              <th style="width: 10%">Barcode</th>
                              <th class="text-center">ĐVT</th>
                              <th class="text-right">Đơn giá</th>
                              <th class="text-right">Số lượng</th>
                              <th class="text-right">Tổng giá tiền</th>
                          </tr>
                          <tr *ngFor="let item of this.deliveryOrder.lines; let i = index">
                              <td class="text-center">{{i + 1}}</td>
                              <td>{{item.itemCode}}</td>
                              <td>{{item.description}}</td>
                              <td>{{item.barCode}}</td>
                              <td class="text-center">{{item.uomCode}}</td>
                              <td class="text-right">{{item.price | number}}</td>
                              <td class="text-right">{{item.quantity | number}}</td>
                              <td class="text-right">{{item.lineTotal | number}}</td>
                          </tr>
                          <tr>
                              <td class="text-right" style="border-right-color: #fff" colspan="7">Tổng: {{this.deliveryOrder.sumQuality | number}}</td>
                              <td class="text-right" colspan="8">Tổng: {{this.deliveryOrder.sumLineTotal | number}}</td>
                          </tr>
                      </table>
                  </div>
              </div>
              <div class="row mt-4" >
                  <div class="col-md-9">
                      </div>
                  <div class="col-md-3 ">
                      <span class="col-md-1 col-print-1 p-0"><b>Ngày in phiếu:</b></span>
                      <span class="col-md-10 col-print-10">{{this.date|date:"dd/MM/yyyy HH:mm:ss"}} </span>
                  </div>
              </div>
              <div class="row mt-5 mb-4">
                  <div class="col-md-10 col-print-10 text-right">.............., Ngày........ Tháng........ Năm........</div>
              </div> -->
             
          </ng-container>
          <!-- <ng-container *ngIf="this.version === 'en'"  >
           
                  <div class="table-wrap"  *ngIf="this.deliveryOrder != null">
                  
                      <ng-container *ngIf="this.companyName?.toLowerCase().includes('arena')">
                          <table class="tblHeader">
                              <tr>
                                  <td style="text-align:center ;">
                                      <img src="/assets/images/jump.png" style=" max-height: 80px; ">
                                  </td>
                                  <td class="text-center" colspan="4">
                                      <h2 class="title-con" style="font-size: 22px; text-align: center; font-weight: 700;"> {{ this.companyName }}</h2>
                                      <br />
                                      <h2 class="title-con" style="    font-size: 25px; text-align: center; font-weight: 700;">GOODS RECEIPT PO</h2>
                                  </td>
                                 
                              </tr>
                            
                          </table>

                      </ng-container>
                      <ng-container *ngIf="!this.companyName?.toLowerCase().includes('arena')">
                          <h3>{{this.companyName}}</h3>
                          <h2 class="text-center mb-4"><b>GOODS RECEIPT PO</b></h2>
                      </ng-container>
                      <table class="tblHeader" style="margin-top: 20px ;">
                          <tr>
                              <td width="50%">
                              
                                      <span class="col-md-2 w-p-5 p-0"><b>Purchase ID:</b></span>
                                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.purchaseId}}</span>
                                
                              </td>
                              <td  width="50%">
                                
                                      <span class="col-md-2 w-p-5 p-0"><b>Store:</b></span>
                                      <span class="col-md-10 w-p-10">{{this.deliveryOrder.storeId}} -
                                          {{this.deliveryOrder.storeName}}</span>
                                 
                              </td>
                             
                          </tr>
                          <tr>
                              <td width="50%">
                                  <span class="col-md-2 w-p-5 p-0"><b>Ref Transation ID:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.refTransId}}</span>
                              </td>
                              <td  width="50%" *ngIf="this.deliveryOrder.shiftId !== null">
                                  <span class="col-md-2 w-p-5 p-0"><b>Shift ID:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.shiftId}}</span>
                              </td>
                             
                          </tr>
                         
                      </table>
                      <table class="tblHeader">
                          <tr>
                              <td colspan="2"  width="100%"  >
                                  <span class="col-md-2 w-p-5 p-0"><b>Card Code:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.cardCode}}</span>
                              </td>
                              
                          </tr>
                          <tr> 
                              <td colspan="2" >
                                  <span class="col-md-2 w-p-5 p-0"><b>Card Name:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.cardName}}</span>
                              </td>
                             
                          </tr>
                          <tr>
                              <td width="50%">
                                  <span class="col-md-2 w-p-5 p-0"><b>Document Date: </b></span>
                              <span class="col-md-10 w-p-10">{{this.deliveryOrder.docDate | date: 'dd/MM/yyyy' }}</span>
                              </td>
                              <td  width="50%">
                                  <span class="col-md-2 w-p-5 p-0"><b>Document Due Date:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.docDueDate | date: 'dd/MM/yyyy' }}</span>
                              </td>
                             
                          </tr>
                          <tr>
                              <td width="50%">
                                  <span class="col-md-2 w-p-5 p-0"><b>Created By:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.createdBy }}</span>
                              </td>
                              <td  width="50%">
                                  <span class="col-md-2 w-p-5 p-0"><b>Created On:</b></span>
                              <span class="col-md-10 w-p-10">{{this.deliveryOrder.createdOn | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
                              </td>
                             
                          </tr>
                          <tr>
                              <td  colspan="2" >
                                  <span class="col-md-2 w-p-5 p-0"><b>Status:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.status }}</span>
                              </td>
                          
                             
                          </tr>
                          <tr>
                               
                              <td colspan="2" >
                                  <span class="col-md-2 w-p-5 p-0"><b>Address:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.invoiceAddress  }}</span>
                              </td>
                             
                          </tr>
                          <tr>
                               
                              <td colspan="2" >
                                  <span class="col-md-2 w-p-5 p-0"><b>Remark:</b></span>
                                  <span class="col-md-10 w-p-10">{{this.deliveryOrder.comment }}</span>
                              </td>
                             
                          </tr>
                      </table>
                    
                          <table class="tblLine" style="margin-top: 20px ;">
                              <tr>
                                  <th class="text-center">No.</th>
                                  <th>Item code</th>
                                  <th>Description</th>
                                  <th style="width: 10%">Barcode</th>
                                  <th class="text-center">Uom</th>
                                 <ng-container *ngIf="this.showPriceBfVATGRPO === 'false'" > 
                                      <th class="text-right">Price</th>
                                      <th class="text-right">Quantity</th> 
                                      <th class="text-right">Line Total</th>
                                  </ng-container>
                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'true'" >
                                      <th class="text-right">Price</th>
                                      <th class="text-right">Quantity</th>
                                      <th class="text-right">Line Total</th>
                                      <th class="text-right">Tax Amount</th> 
                                  </ng-container>
                                 
                              </tr>
                              <tr *ngFor="let item of this.deliveryOrder.lines; let i = index">
                                  <td class="text-center">{{i + 1}}</td>
                                  <td>{{item.itemCode}}</td>
                                  <td>{{item.description}}</td>
                                  <td>{{item.barCode}}</td>
                                  <td class="text-center">{{item.uomCode}}</td>

                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'false' " > 
                                      <td class="text-right">{{item.price | number:'1.0-6'}}</td>
                                      <td class="text-right">{{item.quantity | number:'1.0-6'}}</td>
                                      <td class="text-right">{{item.lineTotal | number:'1.0-6'}}</td>
                                  </ng-container>
                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'true' " > 
                                      <td class="text-right">{{ item.priceBfVAT  | number:'1.0-6'}}</td> 
                                      <td class="text-right">{{ item.quantity | number:'1.0-6'}}</td>
                                      <td class="text-right"> 
                                          {{item.lineTotalBfVAT | number:'1.0-6' }}
                                      </td>
                                      <td class="text-right">
                                        
                                          {{(item.lineTotal - item.lineTotalBfVAT)  | number:'1.0-6'}} 
                                      </td>
                                      
                                  </ng-container>

                                
                              </tr>
                              <tr>
                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'false'" >
                                      <td  style="border-right-color: #fff; font-weight: 600;" colspan="6">Sum:</td>
                                      <td class="text-right" style="border-right-color: #fff" > {{this.deliveryOrder.sumQuantity | number:'1.0-6'}}</td>
                                      <td class="text-right"  >{{this.deliveryOrder.sumLineTotal | number:'1.0-6'}}</td>
                                  </ng-container>
                                  <ng-container *ngIf="this.showPriceBfVATGRPO === 'true'" >
                                      <td  style="font-weight: 600;" colspan="6">Sum:</td>
                                      <td class="text-right" style=" font-weight: 600;" > {{this.deliveryOrder.sumQuantity | number:'1.0-6'}}</td>
                                      <td class="text-right" style=" font-weight: 600;">{{this.sumLineTotalBfVAT | number:'1.0-6'}}</td>
                                      <td class="text-right" style=" font-weight: 600;">{{this.sumTaxLineTotalBfVAT | number:'1.0-6'}}</td>
                                      
                                  </ng-container> 
                               
      
                              </tr>
                          </table>
                      </div>
                
                  <table class="tblHeader mt-3">
                      <tr>
                          <td width="60%">
                            
                          </td>
                          <td  width="40%" class="text-center">
                              <span class="col-md-3 col-print-3 p-0"><b>Print date:</b></span>
                              <span class="col-md-9 col-print-9">{{this.date | date:"dd/MM/yyyy HH:mm:ss"}} </span>
                            
                          </td>
                         
                      </tr>
                      <tr>
                          <td width="60%">
                            
                          </td>
                          <td width="40%"  class="text-center" >
                               <b>Date:................................</b> 
                          </td>
                         
                      </tr>
                   
                  </table>
                   
                  <table class="tblHeader">
                      <tr style="text-align: center ; height: 100px;">
                          <td width="25%">
                              <b>Prepared by</b>
                          </td>
                          <td width="25%">
                              <b>Accountant</b>
                          </td>
                          <td width="25%">
                              <b>Stock keeper</b>
                          </td>
                          <td width="25%">
                              <b>Center Manager</b>
                          </td>
                         
                      </tr>
                   
                  </table>
              
          </ng-container> -->
      </div>
  </div>
</div>