<div class="center-wrap">

  <!-- <div class="row" style="width: 100%;">
  <div class="col-md-12">
   
  </div>
</div> -->
  <div class="col-md-12 " style="width: 100%;">
      <div class="row ">
          <div class="col-xl-4 col-lg-12 col-md-12 ">
              <div class="col-md-12 right-section">
                  <div class="row align-items-center">

                      <!-- <div class="col-md-2">Voucher Num</div>
          <div class="col-md-3"> 
            <dx-text-box #txtVoucher ></dx-text-box> 
          </div> -->
                      <div class="col-md-6">
                          <h3> {{'Get Data By' | translate}} </h3>
                      </div>
                      <div class="col-md-6">
                          <dx-select-box #ddlType [items]="simpleProducts" displayExpr="name" valueExpr="value" [value]="simpleProducts[0].value"></dx-select-box>
                      </div>
                      <div class="col-md-9 mt-2">
                          <!-- value = 84902173431 -->

                          <dx-text-box #txtFilterData value="" type="numeric"></dx-text-box>
                      </div>
                      <div class="col-md-3 mt-2">
                          <dx-button style="width: 100%;" (onClick)="getData(txtFilterData.value, ddlType.value )" icon="search" type="success" text="{{'Search' | translate}}"></dx-button>
                      </div>
                  </div>
                  <!-- <div class="row align-items-center mt-2"> 
                      <div class="col-md-3 pr-0">Member Id</div>
                      <div class="col-md-6 p-0"> 
                           <dx-text-box #txtMemberId value="" type="text"></dx-text-box>
                      </div>
                      <div class="col-md-3">
                          <dx-button class="mr-2" (onClick)="getMemberCard(txtMemberId.value)" icon="search" type="success" text="Search"></dx-button>
                      </div>
                  </div> -->
                  <div class="row mt-2" *ngIf="this.customerInvoice!==null && this.customerInvoice!==undefined">
                      <div class="col-md-12 mt-3 mb-2">
                          <h4>
                              <b> {{'Customer Information' | translate}}</b>
                          </h4>
                      </div>
                      <div class="col-md-12 mb-1">
                          <div class="row">
                              <div class="col-md-2 text-right">{{'Name' | translate}}:</div>
                              <div class="col-md-10"> <b> {{this.customerInvoice?.customerName}}</b></div>
                          </div>
                      </div>
                      <div class="col-md-12 mb-1">
                          <div class="row">
                              <div class="col-md-2  text-right">{{'Email' | translate}}:</div>
                              <div class="col-md-10"> <b> {{this.customerInvoice?.email}}</b></div>
                          </div>
                      </div>

                      <!-- <div class="col-md-12 mb-1">
                          <div class="row">
                              <div class="col-md-2 text-right">{{'Points' | translate}}:</div>
                              <div class="col-md-10"> <b> {{this.customerInvoice?.loyalty_points}}</b></div>
                          </div>
                      </div> -->

                      <div class="col-md-12 mb-1">
                          <div class="row">
                              <div class="col-md-2 text-right">{{'Address' | translate}}:</div>
                              <div class="col-md-10"> <b> {{this.customerInvoice?.address}}</b></div>
                          </div>
                      </div>
                      <div class="col-md-12 mb-1">
                        <div class="row">
                            <div class="col-md-2 text-right">{{'Phone' | translate}}:</div>
                            <div class="col-md-10"> <b> {{this.customerInvoice?.phone}}</b></div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-8 col-lg-12 col-md-12 ">

              <div class="right-section">
        
                      <ng-container >


                          <div >
                              <div class="row mb-2">
                                  <div class=" col-md-9">
                                      <h2 class="bill-number"> <b>{{'Bill No' | translate}}: {{this.orderId}}</b></h2>
                                  </div>
                                  <!-- <div class=" col-md-3" style="text-align: right;">
                                      <dx-check-box [(value)]="this.isMC" class="mr-2" text="{{'Member' | translate}} / {{'Class' | translate}}"></dx-check-box>
                                  </div> -->
  
                              </div>
                              <hr class="style-six mt-2 mb-2">
  
  
                              <ng-container *ngIf=" this.orderId !== null && this.orderId !== undefined">
                                  <div class="bill-wrapper">
                                      <div class="table-wrap">
                                          <div class="bill-table custom-table">
                                              <div class="t-head">
                                                  <div class="t-row">
  
                                                      <div class="t-cell cell-action" style="max-width: 60px!important;">
  
                                                      </div>
                                                      <div class="t-cell cell-desc" style="max-width: 750px!important;">
                                                          <p>{{'Description' | translate}}</p>
                                                      </div>
                                                      <div class="t-cell cell-quantity" style="max-width: 70px!important;">
                                                          <p>{{'UoM' | translate}}</p>
                                                      </div>
  
                                                      <div class="t-cell cell-quantity" style="max-width: 150px!important; text-align: center;">
                                                          <p>{{'Remaining times' | translate}}</p>
                                                      </div>
                                                      <div class="t-cell cell-quantity" style="max-width: 150px!important; text-align: center;">
                                                        <p>{{'End Date' | translate}}</p>
                                                    </div>
                                                    <div class="t-cell cell-quantity" style="max-width: 150px!important; text-align: center;">
                                                    </div>
                                                  </div>
                                              </div>
  
                                              <div class="t-body" style="height: calc(100vh - 506px);">
                                                  <ng-container *ngFor="let item of  serialMemberList">
  
                                                      <div class="t-row">
                                                          <div class="t-cell cell-desc" style="max-width: 750px!important;">
                                                              <p> {{item.itemCode}}</p> 
                                                              <br>
                                                              <p> {{item.description}}</p>
                                                              <p (click)="ele.class = ele.class == 'showChildren' ? 'hideChildren' :  'showChildren'"
                                                              *ngIf="filterBOM(item.itemCode)?.length > 0"
                                                              ><i class="fas fa-angle-down fa-2x"></i>
                                                              </p>
                                                          </div>
                                                          <div class="t-cell cell-total" style="max-width: 60px!important;">
                                                              <p>{{item.uomCode}}</p>
                                                          </div>
                                                          <div class="t-cell cell-quantity text-right" style="max-width: 150px!important;">
                                                              <p>{{item.quantity | number}}</p>
  
                                                          </div>
                                                          <div class="t-cell cell-quantity text-right" style="max-width: 150px!important; text-align: center;">
                                                            <p>{{item.endDate |date : this.authService.loadFormat().dateFormat}}</p>

                                                        </div>
                                                        <div class="t-cell cell-quantity text-right" style="max-width: 150px!important;">
                                                            <dx-button class="mr-2" (onClick)="Redeem(this.item)" icon="fas fa-sign-in-alt" type="default" text="{{'Redeem' | translate}}"></dx-button>
                                                        </div>
  
                                                      </div>
                                                      <div [ngClass]="{ hideChildren : ele.class !== 'showChildren' }" #ele>
                                                        <div class="t-row" *ngFor="let itemBOM of filterBOM(item.itemCode)">
                                                            <!-- <div class="t-cell cell-action" style="max-width: 60px!important;">

                                                            </div> -->

                                                            <div class="t-cell cell-desc">
                                                                <p > {{itemBOM.itemCode}} - {{itemBOM.description}}</p>
                                                            </div>
                                                            <div class="t-cell cell-total" style="max-width: 60px!important; cursor: pointer;">
                                                                <p>{{itemBOM.uomCode}} </p>
                                                            </div>
                                                            <div class="t-cell cell-quantity" style="max-width: 150px!important;">
                                                                <p>{{itemBOM.quantity | number}} </p>
                                                            </div>
                                                            <!-- <div class="t-cell cell-total" style="max-width: 60px!important;">
                                                                <p>{{itemBOM.price | number}} </p>

                                                            </div>
                                                            <div class="t-cell cell-total" style="max-width: 60px!important;">
                                                                <p>{{itemBOM.price * itemBOM.quantity | number}} </p>
                                                            </div>
                                                            <div class="mr-2" style="min-width: 40px!important;">


                                                            </div> -->
                                                        </div>
                                                    </div>
                                                  </ng-container>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="total-bill">
                                          <div class="row">
  
                                              <div class="col-md-6">
                                              
                                              </div>
                                              <div class="col-md-6">
                                                  <!-- <a class="primary-btn" *ngIf="this.invoice.lines?.length > 0" (click)="saveEntity()">{{'Check In' | translate}}</a> -->
                                              </div>
                                          </div>
  
  
  
                                      </div>
                                  </div>
  
                              </ng-container>
                          </div>
                        
                      </ng-container>
              </div>

          </div>
      </div>

      <!-- <div class="col-md-12">
    <div class="right-section">
      
      <div class="row  mb-2">
       
     
        
      </div>
    
      
     
    </div>
 </div> -->
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left" id="my-modal-title">{{'Payment' | translate}}</h4>
      <!-- (click)="()" -->
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <!-- <span aria-hidden="true">
      
      &times;
     
    
    </span> -->
    <img src="../../../assets/images/System/times.svg">
  </button>
  </div>

  <div class="modal-body" *ngIf="showModal">
      <div class="row">
          <div class="col-12 col-lg-12">
              <div class="grey-wrapper left-modal-section">
                  <div class="table-wrap">
                      <div class="payment-modal-table custom-table horizontal-scroll">
                          <div class="t-head">
                              <div class="t-row">
                                  <div class="t-cell cell-action"></div>
                                  <div class="t-cell cell-payment">
                                      <p>{{'Payment Method' | translate}}</p>
                                  </div>
                                  <div class="t-cell cell-discount">
                                      <p>{{'Payment Discount' | translate}}</p>
                                  </div>
                                  <div class="t-cell cell-charged">
                                      <p>{{'Chargable' | translate}}</p>
                                  </div>
                                  <div class="t-cell cell-amount">
                                      <p>{{'Collected' | translate}}</p>
                                  </div>

                                  <div class="t-cell cell-ref">
                                      <p>{{'Ref. Number' | translate}}</p>
                                  </div>

                              </div>
                          </div>

                          <div class="t-body vertical-scroll">

                              <div class="t-row" *ngFor="let payment of invoice?.payments">
                                  <div class="t-cell cell-action">
                                      <!-- <a href="javascript:void" class="delete-btn"  >
                    <img src="../../../../assets/images/System/close.svg" alt="close">
                  </a> -->
                                      <!-- <button (click)="enableEditMethod($event, i)">Set Focus</button> -->
                                  </div>
                                  <div class="t-cell cell-payment">
                                      <p>{{payment.paymentCode}}</p>
                                  </div>
                                  <div class="t-cell cell-discount">
                                      <p>{{payment.paymentDiscount | number}}</p>
                                  </div>
                                  <div class="t-cell cell-charged">
                                      <!-- <div class="search-wrap typing-section-input-wrap " >
                    <input type="text"  #focus  type="text"  (change)="changeValuePayment(focus.value, i, payment)" (keyup)="changeValuePayment(focus.value, i, payment)"
                     value="{{payment.paymentCharged | number}}" (focus)="setClickedRow(i, payment)" (focusout)="removeselect(i, payment)"
                      placeholder="Amount"   class="typing-section-input txtAmount">
                  </div>  -->
                                      <p>{{payment.chargableAmount | number}}</p>
                                  </div>
                                  <div class="t-cell cell-amount">
                                      <p>{{payment.collectedAmount | number}}</p>

                                  </div>
                                  <!-- (change)="changeValuePayment(focus{{i}}.value, i, payment)" (keyup)="changeValuePayment(focus.value, i, payment)" -->

                                  <div class="t-cell cell-ref">
                                      <p>{{payment.refNumber}}</p>
                                  </div>

                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="modal-payment-info">
                      <div>
                          <label>{{'Bill Amount' | translate}}</label>
                          <p>{{this.invoice?.totalAmount | number}}</p>
                      </div>
                      <div>
                          <label>{{'Total Discount' | translate}}</label>
                          <p>{{this.invoice?.paymentDiscount | number}}</p>
                      </div>
                      <div>
                          <label>{{'Total Chargable' | translate}}</label>
                          <p> {{this.invoice?.totalPayable - this.invoice?.paymentDiscount | number}}</p>
                      </div>
                      <div>
                          <label>{{'Total Collected' | translate}}</label>
                          <p>{{this.invoice?.totalReceipt | number}}</p>
                      </div>

                      <div>
                          <label>{{'Amount Left' | translate}}</label>
                          <p>0</p>
                      </div>
                      <div>
                          <label>{{'Amount Change' | translate}}</label>
                          <p>{{this.invoice?.amountChange | number}}</p>
                      </div>
                  </div>
              </div>

          </div>

      </div>
  </div>
</ng-template>

<ng-template #itemTemplate id="itemByVoucher">
  <div class="modal-header">
      <h4 class="modal-title pull-left" id="my-modal-title">{{'Item Voucher' | translate}}</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> 
  <img src="../../../assets/images/System/times.svg">
</button> -->
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="table-wrap">
              <dx-data-grid [style]="{'max-height':'calc(100vh - 45vh)','overflow':'auto'}" id="gridContainer" [dataSource]="this.itemByVouchers" [allowColumnResizing]="true" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true">
                  <dxo-search-panel [visible]="true" [width]="540" placeholder="{{'Search' | translate}}..." location="before"></dxo-search-panel>
                  <dxi-column dataField="itemCode" caption="{{'Item Code' | translate}}" dataType="string"> </dxi-column>
                  <dxi-column dataField="itemName" caption="{{'Description' | translate}}" dataType="string"> </dxi-column>
                  <dxi-column cellTemplate="cellTemplate"></dxi-column>
                  <div *dxTemplate="let cell of 'cellTemplate'">
                      <dx-button icon="fas fa-eye" text="{{'Apply' | translate}}" (onClick)="ApplyData(cell.data)"></dx-button>
                  </div>
              </dx-data-grid>
          </div>
      </div>
  </div>
</ng-template>

<ng-template #ManualPromotion>
  <div id='discount-modal'>
      <div class="modal-header">
          <h4 class="modal-title pull-left" id="my-modal-title">{{'Promotion' | translate}} / {{'Discount' | translate}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <img src="../../../assets/images/System/times.svg">
    </button>
      </div>
      <div class="modal-body">
          <div class="row">

              <div class="col-lg-12">
                  <div class="grey-wrapper left-modal-section">
                      <div class="table-wrap horizontal-scrol">
                          <div class="discount-modal-table custom-table l">
                              <div class="t-head">
                                  <div class="t-row">
                                      <div class="t-cell cell-item">
                                          <p>{{'Item Code' | translate}}</p>
                                      </div>
                                      <div class="t-cell cell-desc">
                                          <p>{{'Description' | translate}}</p>
                                      </div>
                                      <div class="t-cell cell-uom">
                                          <p>{{'UoM' | translate}}</p>
                                      </div>
                                      <div class="t-cell cell-price">
                                          <p>{{'Price' | translate}}</p>
                                      </div>
                                      <div class="t-cell cell-quantity">
                                          <p>{{'Quantity' | translate}}</p>
                                      </div>
                                      <!-- <div class="t-cell cell-discount">
                    <p>Discount Type</p>
                  </div> -->
                                      <div class="t-cell cell-discount">
                                          <p>{{'Discount' | translate}}</p>
                                      </div>
                                      <div class="t-cell cell-subsotal">
                                          <p>{{'Subtotal' | translate}}</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="t-body vertical-scroll">

                                  <div class="t-row" *ngFor="let item of this.invoice?.lines; let i = index">
                                      <div class="t-cell cell-item">
                                          <p>{{item?.itemCode}}</p>
                                      </div>
                                      <div class="t-cell cell-desc">
                                          <p>
                                              {{item?.itemName}}
                                          </p>
                                      </div>
                                      <div class="t-cell cell-uom">
                                          <p> {{item?.uomCode }}</p>
                                      </div>
                                      <div class="t-cell cell-price">
                                          <p>{{item?.price | number}}</p>
                                      </div>
                                      <div class="t-cell cell-quantity">
                                          <p>{{item?.quantity | number}}</p>
                                      </div>
                                      <!-- <div class="t-cell cell-quantity">
                    <p>{{item.discountType}}</p>
                  </div> -->
                                      <div class="t-cell cell-discount">
                                          <p>{{item?.discountAmt | number}}</p>
                                      </div>
                                      <div class="t-cell cell-subsotal">
                                          <p>{{item?.quantity * item?.price - item?.discountAmt | number}}</p>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                      <div class="modal-payment-info">
                          <div>
                              <label>{{'Bill Discount' | translate}}</label>

                          </div>

                          <p>{{this.invoice?.discountRate == null ? 0 : this.invoice?.discountRate | number}}</p>
                          <div>
                              <label>{{'Bill Amount' | translate}}</label>
                              <p>{{this.order?.totalAmount | number}}</p>
                          </div>
                          <div>
                              <label>{{'Total Discount' | translate}}</label>
                              <p>{{this.invoice?.totalDiscountAmt == null ? 0 : this.invoice?.totalDiscountAmt | number}}</p>
                          </div>
                          <div>
                              <label>{{'Total Amount' | translate}}</label>
                              <p>{{ this.order?.totalReceipt | number}}</p>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</ng-template>
<div id="orderPrint" *ngIf="this.outPutModel!==null && this.outPutModel!==undefined">
    <!-- <div class="center-wrap content-center">
      <div class="maintenance-card">  class="maintenance-row"-->
    <!-- <div #printMain> -->
    <!-- <div class="col-md-12" > -->
    <app-shop-component-order-print [(order)]="this.outPutModel" [(typeOrder)]="this.typeOrder" [poleValue]="this.poleValue" [autoPrint]='true'></app-shop-component-order-print>
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div>
  </div> -->
</div>