.table-customer tr th,
.table-customer tr td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

hr.style5 {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}
#maintenance-card-A4
{
    width: 100%!important;
}
#print-section {
    width: 13cm;
    height: 100%;
}

.cl-bold {
    font-weight: 700;
}

@media print {
    // #printPageShopCheck {
    //     display: none !important;
    // }
    #printPageShopCheck,
    #txtTitlePayment,
    #dropdownWidth {
        display: none !important;
    }
}