.center-wrap{
    display: block;
}
.dx-datagrid-headers .dx-datagrid-table .dx-row > td
{
    text-align: center!important;
}

.dx-scheduler-work-space {
    
    height: 500px!important;
    overflow: auto!important;
}
 