.number-btn {
    /* height: unset!important; */
    font-size: 23px!important;
    width: 100%!important;
    height: unset!important;
}
.closeCustom
{
    margin: unset!important;
    position: absolute!important;
    right: 60px!important;
    opacity: 1!important;
}
.selectButton
{
    
}
 /* .small-video {
    max-height: 70vh;
    width: 100vw;
    object-fit: contain;
} */
/* .small-video video
{
    width: 100%!important;
    height: 100px!important;
} */
/* zxing-scanner::ng-deep camera {
    max-height: 70vh;
    width: 100vw;
    object-fit: contain;
} */

::ng-deep zxing-scanner {
    height: 60%;
   /* Optional : you probably want full-width as well for landscape orientation or tablets */
    width: 100%;
}
::ng-deep video {
   /* !important because component already sets height property */
    height: 100% !important;
    width: 50%!important;
}
