<form [formGroup]="editForm" id="editForm" (ngSubmit)="update()">
  <div class="col-md-12">
      <div class="row">
        <ng-container *ngFor="let item of this.groupControlList">
          <div class="col-md-12">
              <div class="row">
                  <ng-container *ngFor="let value of item.arrayGroup">
                      <!-- <div *ngIf="checkPermission(value.controlId,'V')" class="col-md-4 mb-2"> -->
                               <div *ngIf="value.isView" class="col-md-4 mb-2">
                          <div class="row">
                              <div class="col-md-4 d-flex align-items-center">
                                  <label for="{{value.controlId}}"> {{value.controlName | translate}}</label>
                              </div>
                              <div class="col-md-8">
                                  <dx-switch *ngIf="item.controlType==='CheckBox' " [(ngModel)]="model[value.controlId]" formControlName="{{value.controlId}}" name="{{value.controlId | translate}}" [(value)]="model[value.controlId]"></dx-switch>

                                  <input *ngIf="item.controlType==='TextBox' &&  value.controlId ==='customerId'" class="form-control" id="{{value.controlId}}" formControlName="{{value.controlId}}" name="{{value.controlId | translate}}" [(ngModel)]="this.customerId">
                                  <input *ngIf="item.controlType==='TextBox' &&  value.controlId !=='customerId'" class="form-control" id="{{value.controlId}}" formControlName="{{value.controlId}}" name="{{value.controlId | translate}}" [(ngModel)]="model[value.controlId]">

                                  <dx-date-box name="{{value.controlId | translate}}" [value]="model[value.controlId]" [displayFormat]="this.dateFormat + ' HH:mm:ss'" formControlName="{{value.controlId}}" [(ngModel)]="model[value.controlId]" *ngIf="item.controlType==='DateTime'" type="datetime">
                                  </dx-date-box>
                                  <dx-date-box name="{{value.controlId | translate}}" [value]="model[value.controlId]" [displayFormat]="this.dateFormat" formControlName="{{value.controlId}}" [(ngModel)]="model[value.controlId]" *ngIf="item.controlType==='Date'" type="datetime">
                                  </dx-date-box>
                               
                                   
                              <ng-container *ngIf="item.controlType==='DropDown'">
                                  <ng-container *ngIf="value.custom1?.length > 0">
                                      <!-- <dx-select-box showClearButton="true" [style]="{'width':'100%'}" formControlName="{{value.controlId}}"
                                          name="{{value.controlId | translate}}" placeholder="--- {{'Select' | translate}} {{value.controlName | translate}} ---"
                                          [dataSource]="this.setDataSoure(value.controlId)" displayExpr="{{value.optionKey}}" valueExpr="{{value.optionValue}}" 
                                          [(ngModel)]="model[value.controlId]" [value]="model[value.controlId]">

                                      </dx-select-box>
                                       -->
                                      <dx-select-box  showClearButton="true" [style]="{'width':'100%'}" 
                                          formControlName="{{value.controlId}}" name="{{value.controlId | translate}}"
                                          placeholder="--- {{'Select' | translate}} {{value.controlName | translate}} ---"
                                          [dataSource]="this.setDataSoure(value.controlId)" displayExpr="{{value.optionKey}}" 
                                          valueExpr="{{value.optionValue}}" 
                                          [(ngModel)]="model[value.controlId]" [value]="model[value.controlId]">
                                      
                                      </dx-select-box>
                                  </ng-container>
                                  <ng-container *ngIf="value.custom1?.length <= 0">
                                     
                                      <dx-select-box  showClearButton="true" [style]="{'width':'100%'}"
                                          formControlName="{{value.controlId}}" name="{{value.controlId | translate}}" 
                                          placeholder="--- {{'Select' | translate}} {{value.controlName | translate}} ---"
                                          [dataSource]="this[value.optionName]" displayExpr="{{value.optionKey}}" 
                                          valueExpr="{{value.optionValue}}" [(ngModel)]="model[value.controlId]" 
                                          [value]="model[value.controlId]">
                                      </dx-select-box>
                                  </ng-container>
                              </ng-container>
                                  
                              </div>

                          </div>
                      </div>
                  </ng-container>
              </div>
          </div>

      </ng-container> 
      </div>
  </div>

  <div class="col-md-12 text-right mt-2">
      <!-- *ngIf="checkPermission('btnSave' ,'V')"  -->
      <button [disabled]="!editForm.valid  || !editForm.dirty" form="editForm" class="btn-agree width-200 height-60">{{'Save Changes' | translate}}</button>
  </div>
</form>