<div id='discount-modal' *ngIf="basket$ | async as basket">
  <div class="modal-header">
      <div class="row" style="width: 100%">
          <div class="col-md-7">
              <h4 class="modal-title pull-left" id="my-modal-title"> {{'Discount' | translate}}</h4>
          </div>

      </div> 
      <button type="button" class="close pull-right" aria-label="Close" (click)="ouputEvent(true, false, false)"> 
  <img src="../../../assets/images/System/times.svg">
</button>
  </div>
  <div class="modal-body">

      <div class="row" style="width:100%">
          <ng-container *ngIf="approveDisplay">
              <div class="col-md-6">
                  <h3 style="color: red;">{{'Note' | translate}} *</h3>
                  <h4>
                      {{'The approver will be responsible for any errors or disputes.' | translate}}
                      <br> {{'Please make sure this' | translate}}
                  </h4>
              </div>
              <div class="col-md-6">
                <ng-container *ngIf="this.production">
                    <div class="row mb-2">
                        <div class="col-md-4">{{'User' | translate}} <span class="requid-default" style="color: red;">*</span></div>
                        <div class="col-md-8">
                            <dx-text-box #txtUserApprove></dx-text-box>
                        </div>
                    </div>
  
                    <div class="row mb-2">
                        <div class="col-md-4">{{'Password' | translate}} <span class="requid-default" style="color: red;">*</span></div>
                        <div class="col-md-8">
                            <dx-text-box #txtPassApprove mode="password"></dx-text-box>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-4">{{'Note' | translate}}</div>
                        <div class="col-md-8">
                            <dx-text-area #txtNote [height]="90" [maxLength]="maxLength" [(value)]="value">
                            </dx-text-area>
                            <!-- <dx-text-box #txtNote></dx-text-box> -->
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <dx-button text="{{'Back' | translate}}" class="btn-back" icon="fas fa-arrow-circle-left fa-2x" (onClick)="this.approveDisplay= false">
                            </dx-button>
                        </div>
                        
                        <div class="col-md-6" style="    text-align: end;">
                         
                            <dx-button #btnApprove class="btn-agree" text="{{'Approve' | translate}}" icon="fas fa-check-circle fa-2x" (onClick)="approveDiscount(txtUserApprove.value, txtPassApprove.value, '', txtNote.value)">
                            </dx-button>
                        </div>
  
                    </div>
                </ng-container>
                <ng-container *ngIf="!this.production">
                    <div class="tabs">  
                        <input type="radio" id="tab1" name="tab-control" checked>
                        <input type="radio" id="tab2" name="tab-control">
                      
                        <ul>
                          <li (click)="selectTab('user')" title="UserPass"><label for="tab1" role="button"><svg viewBox="0 0 24 24">
                                <path d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z" />
                              </svg><br><span>{{'User' | translate}}/{{'Password' | translate}}</span></label></li>
                          <li (click)="selectTab('customCode')" title="Barcode"><label for="tab2" role="button"><svg viewBox="0 0 24 24">
                                <path d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
                              </svg><br><span>{{'Barcode' | translate}}</span></label></li> 
                        </ul>
                      
                        <div class="slider">
                          <div class="indicator"></div>
                        </div>
                        <div class="content">
                         
                            <section>
                                <div class="row mb-2">
                                    <div class="col-md-4">{{'User' | translate}} <span class="requid-default" style="color: red;">*</span></div>
                                    <div class="col-md-8">
                                        <dx-text-box #txtUserApprove></dx-text-box>
                                    </div>
                                </div>
              
                                <div class="row mb-2">
                                    <div class="col-md-4">{{'Password' | translate}} <span class="requid-default" style="color: red;">*</span></div>
                                    <div class="col-md-8">
                                        <dx-text-box #txtPassApprove mode="password"></dx-text-box>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4">{{'Note' | translate}}</div>
                                    <div class="col-md-8">
                                        <dx-text-area #txtNote [height]="90" [maxLength]="maxLength" [(value)]="value">
                                        </dx-text-area>
                                       
                                    </div>
                                </div>
                                <!-- <div class="row mb-2">
                                    <div class="col-md-6">
                                        <dx-button text="{{'Back' | translate}}" class="btn-back" icon="fas fa-arrow-circle-left fa-2x" (onClick)="this.approveDisplay= false">
                                        </dx-button>
                                    </div>
                                    
                                    <div class="col-md-6" style="    text-align: end;">
                                     
                                        <dx-button #btnApprove class="btn-agree" text="{{'Approve' | translate}}" icon="fas fa-check-circle fa-2x" (onClick)="approveDiscount(txtUserApprove.value, txtPassApprove.value,  '', txtNote.value)">
                                        </dx-button>
                                    </div>
              
                                </div> -->
                            </section>
                            <section>
                                <!-- <img loading="lazy" style="height: 80px; width: 100%;  margin-bottom: 15px;" data-src="../../../../assets/images/System/BarcodeScanner.svg?w=753&q=80">  -->
                                <div class="row mb-2">
                                    <div class="col-md-4">{{'Note' | translate}}</div>
                                    <div class="col-md-8">
                                        <dx-text-area #txtNote [height]="90" [maxLength]="maxLength" [(value)]="value">
                                        </dx-text-area> 
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4">{{'Code' | translate}} <span class="requid-default" style="color: red;">*</span></div>
                                    <div class="col-md-8">
                                        <dx-text-box #txtCustomCode name ="txtQrCode"></dx-text-box>
                                    </div>
                                </div>

                              
                              
                            </section> 
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <dx-button text="{{'Back' | translate}}" class="btn-back" icon="fas fa-arrow-circle-left fa-2x" (onClick)="this.approveDisplay= false">
                                    </dx-button>
                                    <!-- <dx-button text="{{'Back' | translate}}" class="btn-back" icon="fas fa-arrow-circle-left fa-2x" (onClick)="approveDiscount(txtUserApprove.value, txtPassApprove.value,  txtCustomCode.value, txtNote.value)">
                                    </dx-button> -->
                                </div>
                                <div class="col-md-6" style="    text-align: end;">
                                  
                                    <dx-button #btnApprove class="btn-agree" text="{{'Approve' | translate}}" icon="fas fa-check-circle fa-2x" (onClick)="approveDiscount(txtUserApprove.value, txtPassApprove.value,  txtCustomCode.value, txtNote.value)">
                                    </dx-button>
                                </div>
            
                            </div>
                        </div>
                      </div>

                </ng-container>
                 
              </div>
             

          </ng-container>
          <ng-container *ngIf="!approveDisplay">

              <div class="col-lg-7">
                  <div class="grey-wrapper left-modal-section">
                      <div class="table-wrap horizontal-scrol">
                          <div class="discount-modal-table custom-table l">
                              <div class="t-head">
                                  <div class="t-row">
                                      <!-- <div class="t-cell cell-item">
                                          <p>{{'ItemCode' | translate}}</p>
                                      </div> -->
                                      <div class="t-cell cell-desc">
                                          <p>{{'Description' | translate}}</p>
                                      </div>
                                      <!-- <div class="t-cell cell-uom">
                                          <p>{{'UoM' | translate}}</p>
                                      </div> -->
                                      <div class="t-cell cell-price">
                                          <p>{{'Price' | translate}}</p>
                                      </div>
                                      <div class="t-cell cell-quantity">
                                          <p>{{'Quantity' | translate}}</p>
                                      </div>
                                      <div class="t-cell cell-discount">
                                          <p>{{'Discount Type' | translate}}</p>
                                      </div>
                                      <div class="t-cell cell-discount">
                                          <p>{{'Discount' | translate}}</p>
                                      </div>
                                      <div class="t-cell cell-subsotal">
                                          <p>{{'Subtotal' | translate}}</p>
                                      </div>
                                  </div>
                              </div>
                             
                              <div class="t-body vertical-scroll">
                                
                                  <div class="t-row" *ngFor="let item of basket.promotionItems; let i = index" (click)="setDiscountClickedRow(i, item)" [class.selectRow]="i==this.discountSelectedRow" [class.promotionLine]="item?.promotionIsPromo==='1'">
                                      <ng-container *ngIf="(item?.promotionIsPromo!=='1' ) && item.quantity > 0">
                                        
                                          <div class="t-cell cell-desc">
                                            <p  *ngIf="item?.lineNum"> {{item?.lineNum}} - </p>
                                              <span *ngIf="this.printShow==='ItemCode'">
                                                  {{item.id}}
                                              </span>
                                              <span *ngIf="this.printShow!=='ItemCode'">
                                                  <container-element [ngSwitch]="item.barcode">
                                                      <some-element *ngSwitchCase=" null || undefined || ''"> {{item.id}}</some-element>
                                                      <some-element *ngSwitchDefault> {{item.barcode}}</some-element>
                                                  </container-element> 
                                              </span>
                                              -
                                              <p> {{item.uom}}</p>
                                              <br />
                                              <p>
                                                  {{item.productName}}
                                              </p>
                                          </div>
                                       
                                          <div class="t-cell cell-price">
                                              <ng-container *ngIf="basket.clearPromotion===true">
                                                  <label class="mr-2 textPromotion">  {{item.price | currencyFormat}}</label>


                                              </ng-container>
                                              <ng-container *ngIf="basket.clearPromotion===false">
                                                  <ng-container *ngIf="item?.promotionPriceAfDis!==null && item?.promotionPriceAfDis!==item.price">
                                                      <label class="mr-2 textOrigionalX"> {{item.price | currencyFormat}}</label>
                                                      <label class="mr-2 textPromotion"> {{item?.promotionPriceAfDis | currencyFormat}}</label>

                                                  </ng-container>
                                                  <ng-container *ngIf="item?.promotionPriceAfDis===null || item?.promotionPriceAfDis===item.price">
                                                      <label class="mr-2 textPromotion">  {{item.price | currencyFormat}}</label>
                                                  </ng-container>
                                              </ng-container>
                                          </div>
                                          <div class="t-cell cell-quantity">
                                              <p>{{item.quantity | number}}</p>
                                          </div>
                                          <div class="t-cell cell-quantity">
                                              <p>{{item.discountType}}</p>
                                          </div>

                                          <div class="t-cell cell-discount">
                                              <ng-container *ngIf="item.quantity <= 0">
                                                  <p>0</p>
                                              </ng-container>
                                              <ng-container *ngIf="item.quantity > 0">

                                                  <div class="search-wrap typing-section-input-wrap inputAmount">
                                                      <input [disabled]="this.manualDiscountSetting !== 'All' && this.manualDiscountSetting !== 'Details'" 
                                                      type="text" #inputDiscount pattern="[0-9]+" [ngModel]="item.discountValue | numberPipe" 
                                                      (ngModelChange)="item.discountValue=$event" (change)="keyUpValue(inputDiscount.value, i, item, inputDiscount)" 
                                                      name="inputDiscount" (keyup)="keyUpValue(inputDiscount.value, i, item, inputDiscount)" (focus)="setDiscountClickedRow(i, item)"
                                                       (focusout)="onFocusOutEvent($event)" placeholder="0" class="typing-section-input txtAmount">
                                                      <a *ngIf="i==this.discountSelectedRow" (click)="returnDiscountRow(item)"><i class="fas fa-undo-alt"></i></a>
                                                  </div>
                                              </ng-container>

                                          </div>
                                          <div class="t-cell cell-subsotal">



                                              <ng-container *ngIf="basket.clearPromotion===true">

                                                  <ng-container *ngIf="item?.promotionLineTotal!==null && item?.promotionLineTotal!==item.lineTotal">
                                                      <label class="mr-2 textOrigionalX"> {{item.lineTotal | currencyFormat}}</label>
                                                      <br/>
                                                      <label class="mr-2 textPromotion">   {{item?.promotionLineTotal | currencyFormat}}</label>

                                                  </ng-container>
                                                  <ng-container *ngIf="item?.promotionLineTotal===null || item?.promotionLineTotal===item.lineTotal">
                                                      <label class="mr-2 textPromotion">  {{item.lineTotal | currencyFormat}}</label>
                                                  </ng-container>
                                              </ng-container>
                                              <ng-container *ngIf="basket.clearPromotion===false">
                                                  <ng-container *ngIf="item?.promotionLineTotal!==null && item?.promotionLineTotal!==item.lineTotal">
                                                      <label class="mr-2 textOrigionalX"> {{item.lineTotal | currencyFormat}}</label>
                                                      <br/>
                                                      <label class="mr-2 textPromotion">   {{item?.promotionLineTotal | currencyFormat}}</label>

                                                  </ng-container>
                                                  <ng-container *ngIf="item?.promotionLineTotal===null || item?.promotionLineTotal===item.lineTotal">
                                                      <label class="mr-2 textPromotion">  {{item.lineTotal | currencyFormat}}</label>
                                                  </ng-container>

                                              </ng-container>
                                          </div>
                                      </ng-container>

                                      <ng-container *ngIf="item?.promotionIsPromo==='1' || (item?.promotionIsPromo==='1' && item?.promotionType!=='Fixed Quantity')">
                                          <!-- <div class="t-cell cell-item">
                                             
                                          </div> -->
                                          <div class="t-cell cell-desc">
                                              <i style="    color: orangered; font-size:20px" class="fas fa-gift"></i>
                                              <span *ngIf="this.printShow==='ItemCode'">
                                                  {{item.id}}
                                              </span>
                                              <span *ngIf="this.printShow!=='ItemCode'">
                                                  <container-element [ngSwitch]="item.barcode">
                                                      <some-element *ngSwitchCase=" null || undefined || ''"> {{item.id}}</some-element>
                                                      <some-element *ngSwitchDefault> {{item.barcode}}</some-element>
                                                  </container-element> 
                                              </span>
                                               -
                                              <p> {{item.uom}}</p>
                                              <br />
                                              <p>
                                                  {{item.productName}}
                                              </p>
                                          </div>
                                          <!-- <div class="t-cell cell-uom">
                                             
                                          </div> -->
                                          <div class="t-cell cell-price">
                                              <ng-container *ngIf="basket.clearPromotion===true">
                                                  <label class="mr-2 textPromotion">  {{item.price | currencyFormat}}</label>


                                              </ng-container>
                                              <ng-container *ngIf="basket.clearPromotion===false">
                                                  <ng-container *ngIf="item?.promotionPriceAfDis!==null && item?.promotionPriceAfDis!==item.price">
                                                      <label class="mr-2 textOrigionalX"> {{item.price | currencyFormat}}</label>
                                                      <label class="mr-2 textPromotion"> {{item?.promotionPriceAfDis | currencyFormat}}</label>

                                                  </ng-container>
                                                  <ng-container *ngIf="item?.promotionPriceAfDis===null || item?.promotionPriceAfDis===item.price">
                                                      <label class="mr-2 textPromotion">  {{item.price | currencyFormat}}</label>
                                                  </ng-container>
                                              </ng-container>

                                          </div>
                                          <div class="t-cell cell-quantity">
                                              <p>{{item.quantity | currencyFormat}}</p>
                                          </div>
                                          <div class="t-cell cell-quantity">
                                          </div>

                                          <div class="t-cell cell-discount">

                                          </div>
                                          <div class="t-cell cell-subsotal">



                                              <ng-container *ngIf="basket.clearPromotion===true">

                                                  <ng-container *ngIf="item?.promotionLineTotal!==null && item?.promotionLineTotal!==item.lineTotal">
                                                      <label class="mr-2 textOrigionalX"> {{item.lineTotal | currencyFormat}}</label>
                                                      <br/>
                                                      <label class="mr-2 textPromotion">   {{item?.promotionLineTotal | currencyFormat}}</label>

                                                  </ng-container>
                                                  <ng-container *ngIf="item?.promotionLineTotal===null || item?.promotionLineTotal===item.lineTotal">
                                                      <label class="mr-2 textPromotion">  {{item.lineTotal | currencyFormat}}</label>
                                                  </ng-container>
                                              </ng-container>
                                              <ng-container *ngIf="basket.clearPromotion===false">
                                                  <ng-container *ngIf="item?.promotionLineTotal!==null && item?.promotionLineTotal!==item.lineTotal">
                                                      <label class="mr-2 textOrigionalX"> {{item.lineTotal | currencyFormat}}</label>
                                                      <br/>
                                                      <label class="mr-2 textPromotion">   {{item?.promotionLineTotal | currencyFormat}}</label>

                                                  </ng-container>
                                                  <ng-container *ngIf="item?.promotionLineTotal===null || item?.promotionLineTotal===item.lineTotal">
                                                      <label class="mr-2 textPromotion">  {{item.lineTotal | currencyFormat}}</label>
                                                  </ng-container>

                                              </ng-container>
                                          </div>
                                      </ng-container>
                                  </div>

                              </div>
                          </div>
                      </div>
                      <div class="modal-payment-info" >

                          <div>
                              <label>{{'Bill Discount' | translate}}</label>
                              <p style="font-weight:800;  text-transform: capitalize;"> {{this.discountAllBillType}} </p>
                          </div>
                          <!-- | currencyFormat -->
                          <div class="search-wrap typing-section-input-wrap inputAmount" style="margin-top: 7px; ">
                              <input [disabled]="this.manualDiscountSetting !== 'All' && this.manualDiscountSetting !== 'Header'" type="text" 
                              placeholder="0" #discountAllbill (focus)="discountAllBillSelected()" [ngModel]="discountAllBill" 
                              (ngModelChange)="discountAllBill=$event" (change)="discountTotalBill(discountAllbill.value)" 
                              (keyup)="discountTotalBill(discountAllbill.value)" placeholder="Value" class="typing-section-input txtAmount">

                          </div>

                          <div>
                              <label>{{'Total Amount' | translate}}</label>
                              <p>{{(basketDiscountTotal$ | async)?.total | currencyFormat}}</p>
                          </div>
                          <div>
                              <label>{{'Total Discount' | translate}}</label>
                              <p>{{(basketDiscountTotal$ | async)?.discountTotal==null ? 0: (basketDiscountTotal$ | async)?.discountTotal | currencyFormat}}</p>
                              <!-- <p>{{(basketDiscountTotal$ | async)?.billTotal==null ? 0: (basketDiscountTotal$ | async)?.total | currencyFormat}}</p> -->
                          </div>
                          <div>
                              <label>{{'Rounding' | translate}}</label>
                              <p>{{-(basketDiscountTotal$ | async)?.billRoundingOff | currencyFormat}}</p>
                          </div>
                          <div>
                              <label>{{'Total Payable' | translate}}</label>
                              <p>{{((basketDiscountTotal$ | async)?.total  - ((basketDiscountTotal$ | async)?.discountTotal==null ? 0: (basketDiscountTotal$ | async)?.discountTotal ) )| currencyFormat}}</p>
                              <!-- <p>{{(basketDiscountTotal$ | async)?.subtotal | currencyFormat}}</p> -->
                              <!-- <p>{{(basketDiscountTotal$ | async)?.total - ((basketDiscountTotal$ | async)?.discountTotal==null ? 0:(basketDiscountTotal$ | async)?.discountTotal) | currencyFormat}}</p> -->
                          </div>
                          
                      </div>
                  </div>
              </div>


              <div class="col-lg-5"> 
                  <div class="grey-wrapper right-modal-section"> 
                    <!-- [(shortCutModel)]="this.shortCutModel" -->
                      <app-numpad-discount *ngIf="isShowNumpadDiscount"  
                      (amount)="addNumToTextbox($event, false, true)" [(model)]="this.numpadParram"></app-numpad-discount>
                     
                      <div class="action-section">
                        <!-- openPromotionModal(ManualDiscount, true, true) -->
                          <button type="reset" class="reset-btn" (click)="ouputEvent(false, false, true)">{{'Reset' | translate}}</button>
                          <button type="button" class="submit-btn" (click)="ApplyDiscount() ">{{'Ok' | translate}}</button>
                          <!-- ApplyDiscount() -->
                      </div>

                  </div>
              </div>
          </ng-container>

      </div>
  </div>
</div>