<div style="background: white;padding:20px;margin:20px;border:1px solid #f0f0f0;border-radius: 10px;">
  <div>
  <div class="row text-right">
    <div class="col-md-6 offset-md-6 text-right bt-info">
        <dx-button *ngIf="this.version==='en'" (onClick)="switchVersion()" class="mr-4" stylingMode="outlined" icon="flag-icon flag-icon-gb" type="default"> </dx-button>
        <dx-button *ngIf="this.version==='vi'" (onClick)="switchVersion()" class="mr-4" stylingMode="outlined" icon="flag-icon flag-icon-vn" type="default"> </dx-button>
        <dx-button class="btn-print deliveryReturn__print" icon="fa fa-print" text="Print" (onClick)="PrintPage()"></dx-button>
    </div>
</div>
  
<ng-container *ngIf="this.version === 'vi'">
  <div class="row" style="margin-top:15px ;">
    <div class="col-md-1"></div>
    <div class="col-md-4 deliveryReturn__fsw-1">{{this.companyName}}</div>
    <div class="col-md-6"></div>
    <div class="col-md-1"></div>
  </div>

  <div class="deliveryReturn__fsw-2">Vận chuyển hàng</div>
<div class="row" style="margin-top:10px ;">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Mã vận chuyển:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.purchaseId}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Cửa hàng:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.storeId}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw"  >Mã thẻ:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.cardCode}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Tên thẻ:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.cardName}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Được tạo bởi:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.createdBy}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Ngày tạo:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.createdOn | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Ngày bắt đầu:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.docDate | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Ngày hết hạn:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.docDueDate | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Trạng thái:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.status}}</div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Ghi chú:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.comment}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-4" *ngIf="this.itemDeliveryReturn.lines.length > 0" style="margin:30px">
  <table class="w-100 table-template">
      <tr>
          <th class="deliveryReturn__align">STT</th>
          <th class="deliveryReturn__align">Mã sản phẩm </th>
          <th class="deliveryReturn__align">Barcode</th>
          <th class="deliveryReturn__align">Tên sản phẩm</th>
          <th class="deliveryReturn__align">Đơn vị</th>
          <th class="deliveryReturn__align">Giá tiền</th>
          <th class="deliveryReturn__align">Số lượng</th>
          <th class="deliveryReturn__align">Tổng tính tiền</th>
      </tr>
      <tr *ngFor="let item of this.itemDeliveryReturn.lines; let i = index">
          <td class="deliveryReturn__align">{{i + 1}}</td>
          <td class="deliveryReturn__align">{{item.itemCode}}</td>
          <td class="deliveryReturn__align">{{item.barCode}}</td>
          <td class="deliveryReturn__align">{{item.description}}</td>
          <td class="deliveryReturn__align" >{{item.uomCode}}</td>
          <td class="deliveryReturn__align" >{{item.price | number}}</td>
          <td class="deliveryReturn__align" >{{item.quantity | number}}</td>
          <td class="deliveryReturn__align" > {{item.lineTotal | number}}</td>
      </tr>
      <tr>
          <td class="deliveryReturn__sum"  colspan="7">Tổng: {{this.itemDeliveryReturn.sumQuality | number}}</td>
          <td class="deliveryReturn__align"  colspan="8">Tổng: {{this.itemDeliveryReturn.sumLineTotal | number}}</td>
      </tr>
  </table>
</div>
<div class="row mt-4" >
  <div class="col-md-9">
      </div>
  <div class="col-md-3 ">
      <span class="col-md-1 col-print-1 p-0"><b class="deliveryReturn__fonts">Ngày in phiếu:</b></span>
      <span class="col-md-10 col-print-10 deliveryReturn__fonts">{{this.date|date:"dd/MM/yyyy HH:mm:ss"}} </span>
  </div>
</div>
<div class="row mt-5 mb-4">
  <div class="col-md-10 col-print-10 text-right deliveryReturn__fonts" >..........,Ngày.........Tháng..........Năm..............</div>
</div>
<div class="row">
  <div class="col-md-6 col-print-6 text-center deliveryReturn__footer"><b>Quản lý cửa hàng</b></div>
  <div class="col-md-6 col-print-6 text-center deliveryReturn__footer"><b>Người vận chuyển</b></div>
</div>

  </ng-container>
  <ng-container *ngIf="this.version === 'en'">
    <div class="row" style="margin-top:10px ;">
      <div class="col-md-1"></div>
      <div class="col-md-4 deliveryReturn__fsw-1" >{{this.companyName}}</div>
      <div class="col-md-6"></div>
      <div class="col-md-1"></div>
    </div>
  
    <div class="deliveryReturn__fsw-2">Return</div>
<div class="row" style="margin-top:15px ;">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Delivery:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.purchaseId}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Store:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.storeId}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Card code:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.cardCode}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Card name:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.cardName}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Created by:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.createdBy}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Created on:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.createdOn | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Document date:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.docDate | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Document Due Date:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.docDueDate | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Status:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.status}}</div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2 deliveryReturn__font_sw">Remark:</div>
  <div class="col-md-8 deliveryReturn__fonts">{{this.itemDeliveryReturn.comment}}</div>
  <div class="col-md-1"></div>
</div>
<div class="row mt-4" *ngIf="this.itemDeliveryReturn.lines.length > 0" style="margin:30px">
  <table class="w-100 table-template">
      <tr>
          <th class="deliveryReturn__align">STT</th>
          <th class="deliveryReturn__align">Item code</th>
          <th class="deliveryReturn__align">Barcode</th>
          <th class="deliveryReturn__align">Description</th>
          <th class="deliveryReturn__align" >Uom</th>
          <th class="deliveryReturn__align">Price</th>
          <th class="deliveryReturn__align">Quantity</th>
          <th class="deliveryReturn__align">Line Total</th>
      </tr>
      <tr *ngFor="let item of this.itemDeliveryReturn.lines; let i = index">
          <td class="deliveryReturn__align">{{i + 1}}</td>
          <td  class="deliveryReturn__align">{{item.itemCode}}</td>
          <td  class="deliveryReturn__align">{{item.barCode}}</td>
          <td  class="deliveryReturn__align">{{item.description}}</td>
          <td  class="deliveryReturn__align">{{item.uomCode}}</td>
          <td  class="deliveryReturn__align">{{item.price | number}}</td>
          <td  class="deliveryReturn__align">{{item.quantity | number}}</td>
          <td  class="deliveryReturn__align">{{item.lineTotal | number}}</td>
      </tr>
      <tr>
          <td class="deliveryReturn__sum" colspan="7">Sum: {{this.itemDeliveryReturn.sumQuality | number}}</td>
          <td class="deliveryReturn__align" colspan="8">Sum: {{this.itemDeliveryReturn.sumLineTotal | number}}</td>
      </tr>
  </table>
</div>
<div class="row mt-4" >
  <div class="col-md-9">
      </div>
  <div class="col-md-3 ">
      <span class="col-md-1 col-print-1 p-0"><b class="deliveryReturn__fonts">Print date:</b></span>
      <span class="col-md-10 col-print-10 deliveryReturn__fonts" >{{this.date|date:"dd/MM/yyyy HH:mm:ss"}} </span>
  </div>
</div>
<div class="row mt-5 mb-4">
  <div class="col-md-10 col-print-10 text-right deliveryReturn__fonts">Date:.....................................................</div>
</div>
<div class="row">
  <div class="col-md-6 col-print-6 text-center deliveryReturn__footer"><b>Store Manager</b></div>
  <div class="col-md-6 col-print-6 text-center deliveryReturn__footer"><b>Transfer By</b></div>
</div>

  </ng-container>

</div>
</div>