<div class="center-wrap">
  <div class="maintenance-card" style="margin: auto;    width: 100%;">
      <div class="search-wrap">
          <label for="item-searchbar" class="section-title">{{'Sales Channel' | translate}}</label>

      </div>

      <div class="table-wrap">

          <dx-data-grid [style]="{'max-height':'calc(100vh - 15vh)','overflow':'auto'}" id="gridContainer" 
          (onToolbarPreparing)="onToolbarPreparing($event)" [dataSource]="this.list" [showBorders]="true"  [showRowLines]="true">

              <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
              <dxo-search-panel [visible]="true" [width]="540" placeholder="{{'Search' | translate}}..." location="before"></dxo-search-panel>
              <dxo-scrolling mode="virtual"></dxo-scrolling>

              <!-- <dxo-search-panel  [visible]="true"></dxo-search-panel> -->
              <dxi-column dataField="key" caption="{{'Code' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="value" caption="{{'Name' | translate}}" dataType="string"> </dxi-column>
              <dxi-column alignment="center" dataField="status" cellTemplate="statusTemplate" caption="{{'Status' | translate}}"></dxi-column>
              <div *dxTemplate="let cell of 'statusTemplate'">
                  <div [innerHtml]="cell.data.status | statusFormat"></div>
              </div>
              <dxi-column cellTemplate="cellTemplate"></dxi-column>
              <div *dxTemplate="let cell of 'cellTemplate'">
                <div class="row">
                    <div class="col-1"></div>
                        <dx-button type="default" icon="fas fa-eye" text="{{'View' | translate}}" (onClick)="openModal(false, cell.data, template)"></dx-button>
                      <div class="col-1"></div>
                        <dx-button type="danger"   icon="trash" text="{{'Delete' | translate}}" (onClick)="this.delete(cell.data)"></dx-button>
                </div>
               
                  
                </div>


          </dx-data-grid>
      </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title pull-left" id="my-modal-title">{{'Sales Channel' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> 
      <img src="../../../assets/images/System/times.svg">
    </button>
  </div>

  <div class="modal-body">
      <div class="row">
          <app-management-saleschannel-edit  [isNew]="this.isNew"  [model]="this.MSalesPlan" style="width: 100%" (outModel)="updateModel($event)"></app-management-saleschannel-edit>
          <!-- <app-management-store-edit [model]="this.store"  style="width: 100%" (outModel)="updateModel($event)"></app-management-store-edit>  -->
      </div>
  </div>
</ng-template>