<form [formGroup]="editForm" id="editForm" (ngSubmit)="update()">
    <div class="col-md-12">
        <div class="row">
            <ng-container *ngFor="let value of this.groupControlList">
                <div class="col-md-12">
                    <div class="row">
                        <ng-container *ngFor="let item of value.arrayGroup">
                            <div class="col-md-6 form-group" *ngIf="checkPermission(item.controlId,'V')">
                                <label for="{{item.controlId}}"> {{item.controlName | translate}} <span *ngIf="item.require" class= "error"> *</span></label>
                                <input *ngIf="value.controlType==='TextBox'" class="form-control" [required]="item.require" id="{{item.controlId}}" [attr.disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId,'E')?'disabled':null" formControlName="{{item.controlId}}"
                                    name="{{item.controlId | translate}}" [(ngModel)]="model[item.controlId]">

                                <dx-date-box name="{{item.controlId | translate}}" [value]="model[item.controlId]" displayFormat="dd/MM/yyyy HH:mm:ss" formControlName="{{item.controlId}}" [(ngModel)]="model[item.controlId]" *ngIf="value.controlType==='DateTime' && checkPermission(item.controlId,'V')"
                                    type="datetime" [disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId ,'E')?'disabled':null">

                                </dx-date-box>
                                <dx-switch *ngIf="value.controlType==='CheckBox' && checkPermission(item.controlId,'V')" [(ngModel)]="model[item.controlId]" formControlName="{{item.controlId}}" name="{{item.controlId | translate}}" [(value)]="model[item.controlId]" [disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId ,'E')?'disabled':null">
                                </dx-switch>

                                <dx-select-box *ngIf="value.controlType==='DropDown' && checkPermission(item.controlId,'V')" [style]="{'width':'100%'}" formControlName="{{item.controlId}}" name="{{item.controlId | translate}}" placeholder="--- {{'Select' | translate}} {{item.controlName | translate}} ---"
                                    [dataSource]="this[item.optionName]" displayExpr="{{item.optionKey}}" valueExpr="{{item.optionValue}}" [disabled]="isNew ? !checkPermission(item.controlId ,'I')?'disabled':null : !checkPermission(item.controlId ,'E')?'disabled':null"
                                    [(ngModel)]="model[item.controlId]" [value]="model[item.controlId]"></dx-select-box>
                                <label *ngIf="item.require && editForm.get(item.controlId).invalid" [ngClass] = "'error'"> {{item.controlName | translate}} {{'is required' | translate}}. </label>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="col-md-12 text-right">
        <button [disabled]="!editForm.valid || !editForm.dirty" *ngIf="checkPermission('btnSave' ,'V')" form="editForm" class="btn-agree width-200 height-60">{{'Save Changes' | translate}}</button>
    </div>
</form>