<div class="center-wrap">
  <div class="maintenance-card" style="margin: auto;    width: 100%;">
      <!-- <div class="search-wrap">
          <label for="item-searchbar" class="section-title"> {{'Transfer Shipment' | translate}}</label>
      </div> -->
      <div class="row">
          <div class="col-md-4">
              <label for="item-searchbar" class="section-title"> {{'Transfer Request' | translate}}</label>
          </div>
          <div class="col-md-8" style="text-align: right;">
              <span class="section-title color-primary pr-2" style="cursor: pointer;" (click)="filterbills('All')">
                  <span class="count-name"  >  {{'Total' | translate}}</span>
              <span class="count-numbers">({{this.totalBill | number}})</span>
              </span>
              <ng-container *ngIf="this.openBill!==0">
                  |
                  <span class="section-title  pr-2" [ngClass]="this.selectType==='O' ? ' statusSelected  color-info':''" style="cursor: pointer;" (click)="filterbills('O')">
                  <span class="count-name"  >  {{'Open' | translate}}</span>
                  <span class="count-numbers">({{this.openBill | number}})</span>
                  </span>
              </ng-container>


              <ng-container *ngIf="this.closedBill!==0">
                  |
                  <span class="section-title  pr-2" [ngClass]="this.selectType==='C' ? ' statusSelected  color-success':''" style="cursor: pointer;" (click)="filterbills('C')">
                      <span class="count-name" >  {{'Closed' | translate}}</span>
                  <span class="count-numbers">({{this.closedBill | number}})</span>
                  </span>
              </ng-container>


              <ng-container *ngIf="this.cancelBill!==0">
                  |
                  <span class="section-title" [ngClass]="this.selectType==='N' ? ' statusSelected  color-danger':''" style="cursor: pointer;" (click)="filterbills('N')">
                      <span class="count-name" >  {{'Canceled' | translate}}</span>
                  <span class="count-numbers">({{this.cancelBill | number}})</span>
                  </span>
              </ng-container>



          </div>

      </div>
      <div class="row">
          <div class="col-md-2">
              {{'From Date' | translate}}
              <dx-date-box #fromCalendar id="fromCalendar" [value]="this.fromdate" [displayFormat]="this.authService.loadFormat().dateFormat"> </dx-date-box>
          </div>
          <div class="col-md-2">
              {{'To Date' | translate}}
              <dx-date-box #toCalendar id="fromCalendar" [value]="this.todate" [displayFormat]="this.authService.loadFormat().dateFormat"> </dx-date-box>

          </div>
          <div class="col-md-2">
              {{'Status' | translate}}
              <dx-select-box #cbbStatus [value]="statusOptions[0].value" [items]="statusOptions" displayExpr="name" valueExpr="value" placeholder="Status"></dx-select-box>
          </div>
          <div class="col-md-3">
              {{'Bill No' | translate}}
              <dx-text-box #transId></dx-text-box>
          </div>
          <div class="col-md-3" style="text-align: right;">
              <dx-button class="mr-2 mt-3" style="width:60%" icon="fas fa-eye" type="success" (onClick)="loadList()" text="{{'View' | translate}}"></dx-button>
          </div>
      </div>
      <!-- <div class="row mt-2">

          <div class="col-md-3">
              <div class="card-counter primary" (click)="filterbills('All')">
                  <i class="fas fa-cart-plus iconX"></i>
                  <span class="count-numbers">{{this.totalBill | number}}</span>
                  <span class="count-name" style="cursor: pointer;"> <i class="fas fa-arrow-alt-circle-right"></i> {{'Total Bill' | translate}}</span>
              </div>
          </div>

          <div class="col-md-3">
              <div class="card-counter info" (click)="filterbills('O')">
                
                  <i class="fas fa-sync iconX"></i>
                  <span class="count-numbers">{{this.openBill  | number}}</span>
                  <span class="count-name" style="cursor: pointer;"> <i class="fas fa-arrow-alt-circle-right"></i> {{'Open' | translate}}</span>
              </div>
          </div>

          <div class="col-md-3">
              <div class="card-counter success" (click)="filterbills('C')">
                  <i class="fas fa-clipboard-check iconX"></i>
                  <span class="count-numbers">{{this.closedBill | number}}</span>
                  <span class="count-name" style="cursor: pointer;"> <i class="fas fa-arrow-alt-circle-right"></i> {{'Closed' | translate}}</span>
              </div>
          </div>

          <div class="col-md-3">
              <div class="card-counter danger " (click)="filterbills('N')">
                  <i class="fas fa-ban iconX"></i>
                  <span class="count-numbers">{{this.cancelBill | number}}</span>
                  <span class="count-name" style="cursor: pointer;"> <i class="fas fa-arrow-alt-circle-right"></i> {{'Canceled' | translate}}</span>
              </div>
          </div>
      </div> -->
      <div class="table-wrap mt-2 pt-2" style="border-top: grey solid 1px;">
          <dx-data-grid (onToolbarPreparing)="onToolbarPreparing($event)" [style]="{'max-height':'calc(100vh - 26vh)','overflow':'auto'}" id="gridContainer" [dataSource]="this.inventoryList" [allowColumnResizing]="true" [showRowLines]="true" [showBorders]="true"
              [columnAutoWidth]="true" [showBorders]="true">
              <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
              <dxo-search-panel [visible]="true" [width]="540" placeholder="{{'Search' | translate}}..." location="before"></dxo-search-panel>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxi-column dataField="invtid" caption="{{'Transfer Request No' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="fromStoreName" caption="{{'From Store' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="toStoreName" caption="{{'To Store' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="docDate" caption="{{'Doc Date' | translate}}" dataType="date" [format]="this.authService.loadFormat().dateFormat"> </dxi-column>
              <dxi-column dataField="name" caption="{{'Remark' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="createdBy" caption="{{'Created By' | translate}}" dataType="string"> </dxi-column>
              <dxi-column dataField="createdOn" caption="{{'Created On' | translate}}" dataType="date" [format]="this.authService.loadFormat().dateFormat + ' HH:mm:ss'"> </dxi-column>
              <!-- <dxi-column dataField="createdOn" caption="{{'Created On' | translate}}" dataType="date" [format]="this.authService.loadFormat().dateFormat + ' HH:mm:ss'"> </dxi-column> -->
              <dxi-column alignment="center" dataField="status" cellTemplate="statusTemplate" caption="{{'Status' | translate}}"></dxi-column>
              <div *dxTemplate="let cell of 'statusTemplate'">
                  <div [innerHtml]="cell.data.status | statusFormat"></div>
              </div>
              <dxi-column cellTemplate="cellTemplate"></dxi-column>
              <div *dxTemplate="let cell of 'cellTemplate'">
                  <dx-button icon="fas fa-eye" class="mr-2" text="{{'View' | translate}}" (onClick)="viewDetail(cell.data)"></dx-button>
                  <dx-button icon="fa fa-print" text="{{'Print' | translate}}" (onClick)="PrintDetail(cell.data)"></dx-button>
              </div>
          </dx-data-grid>
      </div>
  </div>
</div>