<div class="center-wrap">
  <div class="maintenance-card" style="margin: auto;    width: 100%;">
     <div class="timeline">
      <ul>
          <li>
              <div class="noi_dung">
                <div class="card text-white bg-primary mb-3" >
                  <div class="card-header"> <h3>  <span class="badge rounded-pill bg-dark">Current version V0.0.1</span></h3></div>
                  <div class="card-body">
                   
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, illo ipsum accusamus mollitia
                      et, ipsam vel eaque at quisquam magnam incidunt amet consectetur praesentium aperiam,
                      reprehenderit quaerat iste nam porro.
                  </p>
                  </div>
                </div>
                
              </div>
              <div class="thoi_gian">
                  <h4>
                      Tháng 1 Năm 2020
                  </h4>
              </div>
          </li>
          <li>
          <div class="noi_dung">
              <h3>Thông Tin Timeline 2</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, illo ipsum accusamus mollitia et,
                  ipsam vel eaque at quisquam magnam incidunt amet consectetur praesentium aperiam, reprehenderit
                  quaerat iste nam porro.
              </p>
          </div>
          <div class="thoi_gian">
              <h4>
                  Tháng 2 Năm 2020
              </h4>
          </div>
          </li>
          <li>
          <div class="noi_dung">
              <h3>Thông Tin Timeline 3</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, illo ipsum accusamus mollitia et,
                  ipsam vel eaque at quisquam magnam incidunt amet consectetur praesentium aperiam, reprehenderit
                  quaerat iste nam porro.
              </p>
          </div>
          <div class="thoi_gian">
              <h4>
                  Tháng 3 Năm 2020
              </h4>
          </div>
          </li>
          <li>
          <div class="noi_dung">
              <h3>Thông Tin Timeline 4</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, illo ipsum accusamus mollitia et,
                  ipsam vel eaque at quisquam magnam incidunt amet consectetur praesentium aperiam, reprehenderit
                  quaerat iste nam porro.
              </p>
          </div>
          <div class="thoi_gian">
              <h4>
                  Tháng 4 Năm 2020
              </h4>
          </div>
          </li>
          <li>
          <div class="noi_dung">
              <h3>Thông Tin Timeline 5</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, illo ipsum accusamus mollitia et,
                  ipsam vel eaque at quisquam magnam incidunt amet consectetur praesentium aperiam, reprehenderit
                  quaerat iste nam porro.
              </p>
          </div>
          <div class="thoi_gian">
              <h4>
                  Tháng 5 Năm 2020
              </h4>
          </div>
          </li>
          <div style="clear:both"></div>
      </ul>
    </div> 


    <!-- <div class="table-wrap">
        <div class="item-search-table custom-table">
            <div class="t-head">
                <div class="t-row">
                    <div class="t-cell cell-item">
                        <p>{{'Item Code' | translate}}</p>
                    </div>
                    <div class="t-cell cell-name">
                        <p>{{'Item Name' | translate}}</p>
                    </div>
                    <div class="t-cell cell-price">
                        <p>{{'Item Price' | translate}}</p>
                    </div>
                    <div class="t-cell cell-color">
                        <p>{{'Foreign Name' | translate}}</p>
                    </div>
                    <div class="t-cell cell-size">
                        <p>{{'Image' | translate}}</p>
                    </div>
                    <div class="t-cell cell-uom">
                        <p>{{'UoM' | translate}}</p>
                    </div>
                    <div class="t-cell cell-action">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="t-body vertical-scroll">
                <div class="t-row" *ngFor="let item of this.items">
                    <div class="t-cell cell-item">
                        <p>{{item.itemCode}}</p>
                    </div>
                    <div class="t-cell cell-name">
                        <p>{{item.itemName}}</p>
                    </div>
                    <div class="t-cell cell-price">
                        <p>{{item.defaultPrice}}</p>
                    </div>
                    <div class="t-cell cell-color">
                        <p>{{item.foreignName}}</p>
                    </div>
                    <div class="t-cell cell-size">
                        <p>{{item.imageUrl}}</p>
                    </div>
                    <div class="t-cell cell-uom">
                        <p>{{item.inventoryUom}}</p>
                    </div>
                    <div class="t-cell cell-action">
                        <a class="secondary-btn">{{'Select' | translate}}</a>
                    </div>
                </div>

            </div>
            <div id="dvPaging" class="col-md-12">
                <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" 
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

                    </pagination>
            </div>
        </div>
    </div> -->
  </div>
</div>