<div    >
  <div class="point-div"  >
    <span class="username" style="cursor: pointer;"  [routerLink]="['/shop/order/customer']"> aa</span>
    <span class="nav-phone greeting">
      <a href="tel:852-320-1400">
        <img src="../../../../assets/images/System/phone.svg" alt="phone">cc
      </a>
    </span>
  </div>
  
  <div class="nav-contact">
    <span class="points greeting ml-1">
      <img src="../../../../assets/images/System/coins.svg" alt="coins">Class :
      <span class="red" >aaa</span>
    </span>
    <span class="nav-mail greeting ml-1">
      <a href="mailto:davidt@abeoinc.com">
        <img src="../../../../assets/images/System/mail.svg" alt="mail">cccc
      </a>
    </span>
   
  </div> 
</div>
