

<div class="center-wrap"  >
  <div class="maintenance-card" style=" width: 100%; height: 100%;">
      <div class="search-wrap">
          <label for="item-searchbar" class="section-title">{{'Basket' | translate}}</label>
      </div>
      <div class="row" [@fadeSlideGrowKeyframe]>
        <app-shop-bill-infor    [IsEvent]="false"></app-shop-bill-infor>
        <!-- <div class="bill-wrapper mt-2">
         
          <div class="table-wrap">
              <div class="bill-table custom-table">
                  <div class="t-head">
                      <div class="t-row">
                          <div class="t-cell cell-action" style="max-width: 60px!important;">
                              <p></p>
                             
                          </div>
                          <div class="t-cell cell-desc">
                              <p>{{'Description' | translate}}</p>
                          </div>
                          <div class="t-cell cell-quantity" style="max-width: 40px!important;">

                          </div>
                          <div class="t-cell cell-quantity" style="max-width: 70px!important;">
                              <p>{{'Quantity' | translate}}</p>
                          </div>
                         
                          <div class="t-cell cell-total" style="max-width: 120px!important;">
                              <p>{{'Total' | translate}}</p>
                          </div>
                          
                      </div>
                  </div>
                  <div class="t-body" *ngIf="basket$ | async as basket" style="position: relative;">
                      <ng-container *ngFor="let item of basket.items"> 
                          <div class="t-row" [ngClass]="{promotionLine: item.promotionIsPromo==='1' && item?.promotionType==='Fixed Quantity'}">
                              <div class="row actionrow" [ngClass]="{  hideChildren : this.itemSelectedRow !== item.id+ item.promotionIsPromo + item.uom+item.promotionPromoCode && action.class !== 'showChildren' }" #action id="rowAction" style="width:calc(100% - 0px)">

                                  <ng-container *ngIf="item?.promotionIsPromo==='1' && item?.promotionType==='Fixed Quantity' ">
                                      <div class="col-md-3">

                                          <a class="nav-card active" (click)="this.itemSelectedRow = '' && action.class = action.class == 'showChildren' ? 'hideChildren' :  'showChildren'">
                                             
                                              <i class="fas fa-chevron-circle-left fa-2x"></i>
                                              <span class="nav-card-text" style="text-transform: uppercase;"> {{'Back' | translate}} </span>
                                          </a>

                                      </div>
                                      <div class="col-md-9" style="    border-left: 1px solid;">
                                          <h5>{{item?.promotionPromoCode?.toString().slice(0,-1)}}</h5> {{item?.promotionPromoName}}
                                      </div>

                                  </ng-container>
                                  <ng-container *ngIf="item?.promotionIsPromo!=='1'  || (item?.promotionIsPromo==='1' && item?.promotionType!=='Fixed Quantity')">
                                      <div class="col-md-2">
                                          <a class="nav-card active" (click)="this.itemSelectedRow = '' && action.class = action.class == 'showChildren' ? 'hideChildren' :  'showChildren'">
                                             
                                              <i class="fas fa-chevron-circle-left fa-2x"></i>
                                              <span class="nav-card-text" style="text-transform: uppercase;"> {{'Back' | translate}} </span>
                                          </a>
                                      </div>
                                      <div class="col-md-2">
                                          <a class="nav-card active" (click)="remove(item)">

                                              <i class="fas fa-trash-alt fa-2x"></i>
                                              <span class="nav-card-text" style="text-transform: uppercase;"> {{'Remove' | translate}} </span>
                                          </a>
                                      </div>
                                      <div class="col-md-2">
                                          <a class="nav-card active" *ngIf="(item.isSerial && item?.customField1==='Retail') || item.isVoucher" (click)="selectSerial(item)">
                                           
                                              <i class="fas fa-info fa-2x"></i>
                                              <span class="nav-card-text" style="text-transform: uppercase;"> {{'Serial' | translate}} </span>
                                          </a>
                                          
                                      </div>
                                      <div class="col-md-4">
                                          <dx-text-box [(ngModel)]="item.note" value="{{item.note}}" [showClearButton]="true" placeholder="Note" valueChangeEvent="keyup"></dx-text-box>

                                      </div>
                                      <div class="col-md-2">
                                          <dx-button class="send" icon="check" (onClick)="updateNote(item)"> </dx-button>
                                      </div>

                                  </ng-container>
                              </div>

                              <div class="t-cell cell-action" style="max-width: 60px!important;">
                                  <a>
                                      <dx-button (click)="selectRow(item) && action.class = action.class == 'showChildren' ? 'hideChildren' :  'showChildren'" id="moreButton" icon="overflow"  > </dx-button>
                                    
                                  </a>
                              </div>

                              <div class="t-cell cell-desc">

                                  <p style="widows: 100%;">
                                      <ng-container *ngIf="(item.isSerial && item?.customField1==='Retail')   || item.isVoucher || item.isBOM">
                                          <i (click)="selectSerial(item)" class="fas fa-info" *ngIf="(item.isSerial && item?.customField1==='Retail')  || item.isVoucher"></i>
                                          <i class="fas fa-archive" *ngIf="item.isBOM"></i> -
                                      </ng-container>

                                      {{item.productName}}
                                  </p>
                                  <br />
 
                                  <p>
                                      <label class="mr-2">{{item.uom}}</label>
                                      <label class="mr-2 textPromotion" style="float: right;" *ngIf="item?.promotionIsPromo==='1' && item?.promotionType==='Fixed Quantity'">{{'Promotion Item' | translate}}</label>
                                    
                                      <ng-container *ngIf="item?.promotionPriceAfDis!==null && item?.promotionPriceAfDis!==item.price">
                                          <label class="mr-2 textOrigionalX"> {{item.price | currencyFormat}}</label>
                                          <label class="mr-2 textPromotion"> {{item?.promotionPriceAfDis | currencyFormat}}</label> 
                                      </ng-container>
                                      <ng-container *ngIf="item?.promotionPriceAfDis===null || item?.promotionPriceAfDis===item.price">
                                          <label class="mr-2 textPromotion"> {{item.price | currencyFormat}}</label>
                                      </ng-container>
                                      <ng-container *ngIf="item.customField1 === 'Card' && item?.promotionDisAmt!==null && item?.promotionDisAmt!==undefined">
                                          <label class="mr-2 textPromotion">+ {{item?.promotionDisAmt | currencyFormat}}</label>
                                      </ng-container>

                                  </p>

                              </div>
                              <div class="" style="max-width: 40px!important; cursor: pointer;">
                                
                                  <a (click)="ele.class = ele.class == 'showChildren' ? 'hideChildren' :  'showChildren'"> 
                                      <i class="fas fa-angle-down fa-2x" *ngIf="item.lineItems?.length > 0 || item.isBOM"></i>
                                  </a> 
                              </div>
                              <div class="t-cell cell-quantity" style="max-width: 70px!important;">
                                  <label class="mr-2 textPromotion" *ngIf="item?.promotionIsPromo==='1'">{{item.quantity}}</label> 
                                  <ng-container *ngIf="item?.promotionIsPromo!=='1'">
                                      <ng-container *ngIf="(item.isSerial && item?.customField1==='Retail')   || item.isVoucher || item.isCapacity || item.customField1 === 'Class' || item.customField1 === 'Member' || item.customField1 === 'Card'">
                                          <p class="ml-1">{{item.quantity}}</p>
                                      </ng-container>
                                      <ng-container *ngIf=" item.isSerial!==true && item.isVoucher!==true && item.isCapacity!==true &&  item.customField1 !== 'Class' &&  item.customField1 !== 'Member' && item.customField1 !== 'Card'">
                                          <ng-container *ngIf="VirtualKey$ | async">
                                              <input type="text" [matKeyboard]="'NumberLayout'" inputmode="numeric" pattern="[0-9]*" (blur)="onBlurMethod(item)" class="form-control rounded" placeholder="Search" [(ngModel)]="item.quantity" value="{{item.quantity}}" />
                                          </ng-container>
                                          <ng-container *ngIf="!(VirtualKey$ | async)">
                                              <input type="text" inputmode="numeric" pattern="[0-9]*" (blur)="onBlurMethod(item)" class="form-control rounded" placeholder="0" [(ngModel)]="item.quantity" value="{{item.quantity}}" />
                                          </ng-container>
                                      </ng-container>
                                  </ng-container>



                              </div>

                              <div class="t-cell cell-total" style="max-width: 120px!important;">
                                  <p>

                                      <ng-container *ngIf="item?.promotionLineTotal!==null && item?.promotionLineTotal!==item.lineTotal">
                                          <label class="mr-2 textOrigionalX"> {{item.lineTotal | currencyFormat}}</label>
                                          <br />
                                          <label class="mr-2 textPromotion"> {{item?.promotionLineTotal | currencyFormat}}</label>

                                      </ng-container>
                                      <ng-container *ngIf="item?.promotionLineTotal===null || item?.promotionLineTotal===item.lineTotal">
                                          <label class="mr-2 textPromotion"> {{item?.lineTotal | currencyFormat}}</label>
                                      </ng-container>

                                  </p>
                              </div>

                          </div>


                          <div [ngClass]="{ hideChildren : ele.class !== 'showChildren' }" #ele>
                              <div class="t-row" *ngFor="let lineitem of item.lineItems">
                                  <div class="t-cell cell-action" style="max-width: 60px!important;">
                                      <p style="widows: 100%;" *ngIf="(item.isCapacity || item.customField1 === 'Member' || item.customField1 === 'Class' || item.customField1 === 'Card') && item.promotionIsPromo !== '1' && item.promotionType !== 'Fixed Quantity'">
                                          <a class="nav-card active" (click)="removeCapacityLine(lineitem,(item.promotionPromoCode!==null && item.promotionPromoCode!==undefined))">
                                              <i style="font-size: 20px;" class="ml-2 fas fa-trash-alt"></i>
                                             
                                          </a>
                                      </p>
                                  </div>

                                  <div class="t-cell cell-desc">

                                      <p style="widows: 100%;" *ngIf="item.isBOM"> {{lineitem.productName}} </p>
                                      <p style="widows: 100%;" *ngIf="(item.isSerial && item?.customField1==='Retail')  || item.isVoucher">
                                          {{lineitem.serialNum}} </p>
                                      <p style="widows: 100%;" *ngIf="item.isCapacity"> {{'Date' | translate}}: {{lineitem.appointmentDate | dateFormat }}, {{'Area' | translate}}: {{lineitem.storeAreaId}} <br /> {{'Time' | translate}}: {{lineitem.timeFrameId}} - {{lineitem.note}}</p>
                                      <p style="widows: 100%;" *ngIf="item.customField1 === 'Member' || item.customField1 === 'Class'">
                                          {{'Date' | translate}}: {{lineitem.startDate | dateFormat }} ~ {{lineitem.endDate | dateFormat }}
                                          <br> {{'Serial Num' | translate}}: {{lineitem.serialNum}}
                                          <br> {{'Name' | translate}}: {{lineitem.name}} Phone: {{lineitem.phone}}

                                      </p>
                                      <p style="widows: 100%;" *ngIf="item.customField1 === 'Card' && (item?.promotionDisAmt==='' || item?.promotionDisAmt===null || item?.promotionDisAmt===undefined)">
                                          {{'Card No' | translate}}: {{lineitem.prepaidCardNo}} </p>

                                      <ng-container *ngIf="item.customField1 === 'Card' && item?.promotionDisAmt!==null && item?.promotionDisAmt!==undefined">
                                          {{'Card No' | translate}}: {{lineitem.prepaidCardNo}} <label class="mr-2 textPromotion"> + {{lineitem.promotionDisAmt | currencyFormat}}</label>
                                      </ng-container>
                                  </div>
                                  <div class="" style="max-width: 40px!important; cursor: pointer;">

                                  </div>
                                  <div class="t-cell cell-quantity" style="max-width: 70px!important;">
                                     
                                  </div>
                                  <div class="t-cell cell-total" style="max-width: 60px!important;">
                                     
                                      <p *ngIf="item.isCapacity ">{{lineitem.quantity | currencyFormat}} </p>
                                      <p *ngIf="item.customField1 === 'Member' || item.customField1 === 'Class' ">
                                          {{lineitem.quantity | currencyFormat}} </p>
                                      <p *ngIf="item.customField1 === 'Card' ">{{lineitem.memberValue | currencyFormat}} </p>
                                  </div>
                                  <div class="t-cell cell-total" style="max-width: 60px!important;">
                                      <p *ngIf="item.isBOM">{{lineitem.lineTotal | currencyFormat}} </p>
                                      <p *ngIf="(item.isSerial && item?.customField1==='Retail')   || item.isVoucher">
                                          {{lineitem.quantity | currencyFormat}} </p>

                                  </div>
                                  <div class="mr-2" style="min-width: 40px!important;">
                                      <a class="nav-card active" *ngIf="item.isCapacity && item.promotionIsPromo !== '1' && item.promotionType !== 'Fixed Quantity'" (click)="editCapacityLine(lineitem,(item.promotionPromoCode!==null && item.promotionPromoCode!==undefined))">

                                          <i style="font-size: 20px;" class="ml-2 far fa-edit"></i>
                                      </a>
                                      <a class="nav-card active" *ngIf="(item.customField1 === 'Member' || item.customField1 === 'Class')  && item.promotionIsPromo !== '1'" (click)="editMemberLine(lineitem)">

                                          <i style="font-size: 20px;" class="ml-2 far fa-edit"></i>
                                      </a>
                                      <a class="nav-card active" *ngIf=" item.customField1 === 'Card'  && item.promotionIsPromo !== '1'" (click)="editCardLine(lineitem)">

                                          <i style="font-size: 20px;" class="ml-2 far fa-edit"></i>
                                      </a>
                                  </div>

                              </div>
                          </div>
                      </ng-container>
                     
                  </div>
              </div>
          </div>
          <div class="total-bill">
              <div class="discount-div mb-2">
                  <p>{{'BillTotal' | translate}}</p>
                  <p>{{(basketTotal$ | async)?.billTotal | currencyFormat}}</p>
              </div>

              <div class="discount-div">
                  <p (click)="toggleTotalDiscountOptions()">{{'TotalDiscount' | translate}}
                      <i class="fas fa-info-circle" id="TotalDiscount"></i>
                  </p>
                 
                  <p>{{(basketTotal$ | async)?.discountBillValue | currencyFormat}}</p> 
              </div>
             
              <div class="payable-div" *ngIf="basketTotal$ | async">

                  <p (click)="addRemark()">{{'TotalPayable' | translate}} <i class="far fa-comment-dots" id="TotalDiscount"></i></p>
                  <p>{{(basketTotal$ | async)?.total | currencyFormat}}</p>
              </div>
              <dx-popover target="#TotalDiscount" position="top" [width]="500" [shading]="true" [showTitle]="true" shadingColor="rgba(0, 0, 0, 0.5)" title="{{'Promotion Details' | translate}}" [(visible)]="withTotalDiscountVisible">
                  <div *dxTemplate="let data = model of 'content'">
                      <div class="row" *ngFor="let promotion of (basket$ | async)?.promotionApply">
                          <label>
              <i class="fas fa-check-circle" style="color: olivedrab;"></i>
              <span style="font-weight: bolder;">
                {{promotion?.promoTypeName}}
                <br>
                <a (click)="openPromotion(promotion.promoId)" style="cursor: pointer;">
                  {{promotion.promoId}}:
                </a> 
                
              </span>
              {{promotion.promoName}}
            </label>

                      </div>
                  </div>
              </dx-popover>

              <div class="row">
                 
                  <ng-container *ngIf="eInvoice==='true'">
                      <ng-container *ngIf="(basket$ | async)?.salesType!=='Exchange'">
                          <ng-container *ngIf="!IsEvent">
                              <div class="col-md-4"> <a class="primary-btn" style="width:100%;" (click)="openInvoiceModal()">{{'Invoice' | translate}}</a>
                              </div>
                          </ng-container>

                          <ng-container *ngIf="IsEvent">
                              <div class="col-md-4"> <a class="primary-btn" style="width:100%;" (click)="addOrder(true)">{{'Add to Event' | translate}}</a> </div>
                          </ng-container>

                          <ng-container *ngIf="(basket$ | async)?.salesType!=='Exchange' || (basket$ | async)?.salesType==='Exchange' && (basketTotal$ | async)?.total > 0">
                              <div class="col-md-8"> <a (click)="openModal(template)" class="primary-btn">{{'Payment' |  translate}}</a>
                              </div>
                          </ng-container>
                      </ng-container>

                      <ng-container *ngIf="(basket$ | async)?.salesType==='Exchange' &&  ((basketTotal$ | async)?.billTotal > 0 || this.allowNegativeExchange === 'true') ">
                          <div class="col-md-4"> <a class="primary-btn" style="width:100%;" (click)="openInvoiceModal()">{{'Invoice' | translate}}</a>
                          </div>
                          <div class="col-md-8"> <a (click)="openModal(template)" class="primary-btn">{{'Payment' |
                translate}}</a>
                          </div>
                      </ng-container>
                      <ng-container *ngIf="(basket$ | async)?.salesType==='Exchange' && (basketTotal$ | async)?.total === 0">
                          <div class="col-md-4"> <a class="primary-btn" style="width:100%;" (click)="openInvoiceModal()">{{'Invoice' | translate}}</a>
                          </div>
                          <div class="col-md-8"> <a class="primary-btn" style="width:100%;" (click)="addOrder(true)">{{'Add Order' | translate}}</a>
                          </div>
                      </ng-container>
                  </ng-container>
                  <ng-container *ngIf="eInvoice!=='true'">
                      <ng-container *ngIf="(basket$ | async)?.salesType!=='Exchange'">
                          <ng-container *ngIf="IsEvent">
                              <div class="col-md-12"> <a class="primary-btn" style="width:100%;" (click)="addOrder(true)">{{'Add to Event' | translate}}</a> </div>
                          </ng-container>

                          <ng-container *ngIf="(basket$ | async)?.salesType!=='Exchange' || (basket$ | async)?.salesType==='Exchange' && (basketTotal$ | async)?.total > 0">
                              <div class="col-md-12"> <a (click)="openModal(template)" class="primary-btn">{{'Payment' | translate}}</a>
                              </div>
                          </ng-container>
                      </ng-container>

                      <ng-container *ngIf="(basket$ | async)?.salesType==='Exchange' && (basketTotal$ | async)?.total > 0">

                          <div class="col-md-12"> <a (click)="openModal(template)" class="primary-btn">{{'Payment' | translate}}</a>
                          </div>
                      </ng-container>
                     
                      <ng-container *ngIf="(basket$ | async)?.salesType==='Exchange' && (basketTotal$ | async)?.total === 0">

                          <div class="col-md-12"> <a class="primary-btn" style="width:100%;" (click)="addOrder(true)">{{'Add Order' | translate}}</a>
                          </div>
                      </ng-container>
                  </ng-container>

              </div>

          </div>
        </div> -->
      </div>
     
  </div>

</div>
      
 