<div class="center-wrap">
    <div class="maintenance-card" style="margin: auto;    width: 100%;">
        <div class="search-wrap">
       
            <label for="item-searchbar" class="section-title">{{'Role Authorization' | translate}}</label>

        </div>
        <!-- (onToolbarPreparing)="onToolbarPreparing($event)" -->
        <div class="table-wrap">
            <dx-data-grid [style]="{'max-height':'calc(100vh - 15vh)','overflow':'auto'}" id="gridContainer" [autoExpandAll]="true" [dataSource]="this.roles" [showBorders]="true">

                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true" [width]="540" placeholder="{{'Search' | translate}}..." location="before"></dxo-search-panel>
                <dxo-scrolling mode="virtual"></dxo-scrolling>

                <!-- <dxo-search-panel  [visible]="true"></dxo-search-panel> -->
                <!-- <dxi-column dataField="hldCode" caption="Hld Code" dataType="string">  </dxi-column> -->
                <dxi-column dataField="roleName" caption="{{'Role Name' | translate}}"> </dxi-column>
                <dxi-column dataField="description" caption="{{'Description' | translate}}"> </dxi-column>
                <!-- <dxi-column dataField="rmrks" caption="Rmrks" dataType="string">  </dxi-column> -->

                <dxi-column alignment="center" dataField="status" cellTemplate="statusTemplate" caption="{{'Status' | translate}}"></dxi-column>

                <dxi-column cellTemplate="cellTemplate"></dxi-column>
                <div *dxTemplate="let cell of 'cellTemplate'">
                    <!-- getItem(item) -->
                    <dx-button icon="check" text="{{'Select' | translate}}" (onClick)="getItem( cell.data)"></dx-button>
                </div>
                <div *dxTemplate="let cell of 'statusTemplate'">
                    <div [innerHtml]="cell.data.status | statusFormat"></div>
                </div>

            </dx-data-grid>
        </div>

    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left" id="my-modal-title">{{'Detail' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"> 
      <img src="../../../assets/images/System/times.svg">
    </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <app-management-holiday-edit [model]="this.holiday" [isnew]="this.isNew" style="width: 100%" (outModel)="updateModel($event)"></app-management-holiday-edit>
            <!-- <app-management-store-edit [model]="this.store"  style="width: 100%" (outModel)="updateModel($event)"></app-management-store-edit>  -->
        </div>
    </div>
</ng-template>

<!-- 




<main class="wrap item-search-page">
  <div class="container-fluid">
    <div class="main-section">
     

      <div class="item-search-nav">
        <div class="row align-items-end">
          <div class="col-lg-4 col-12">
            <div class="search-wrap">
             
              <input type="search" id="item-searchbar" placeholder="Type Keywords">
            </div>
          </div>
          <div class="col-lg-4">
            
          </div>
        
          <div class="col-lg-4 col-12 right">
            
          </div>
        
        </div>
      </div>

      <div class="table-wrap">
        <div class="item-search-table custom-table">
          <div class="t-head">
            <div class="t-row">
              <div class="t-cell cell-item">
                <p>RoleName</p>
              </div>
              <div class="t-cell cell-name">
                <p>Description</p>
              </div>
              <div class="t-cell cell-price">
                <p>Status</p>
              </div>
              
              <div class="t-cell cell-action">
                <p></p>
              </div>
            </div>
          </div>
          <div class="t-body vertical-scroll">
            <div class="t-row" *ngFor="let item of this.roles">
              <div class="t-cell cell-item">
                <p>{{item.roleName}}</p>
              </div>
              <div class="t-cell cell-name">
                <p>{{item.description}}</p>
              </div>
              <div class="t-cell cell-price">
                <p>{{item.status}}</p>
              </div>
              
              <div class="t-cell cell-action">
                <a class="secondary-btn" (click)="getItem(item)" >Select</a>
              </div>
            </div>
           
          </div>
          <div id="dvPaging" class="col-md-12">
            <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" 
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->