<form [formGroup]="editForm" id="editForm" (ngSubmit)="update()">
    <div class="col-md-12">
        <div class="row">
            <ng-container *ngFor="let value of this.groupControlList">
                <div class="col-md-12">
                    <div class="row">
                        <ng-container *ngFor="let item of value.arrayGroup">
                            <div class="col-md-6 form-group" *ngIf="item.isView">
                                <label for="{{item.controlId}}"> {{item.controlName | translate}} <span *ngIf="item.require" class= "error"> *</span></label>
                                <input *ngIf="value.controlType==='TextBox'" [required]="item.require" class="form-control" id="{{item.controlId}}" [attr.disabled]="isNew ? !item.isInsert?'disabled':null : !item.isEdit?'disabled':null"
                                    formControlName="{{item.controlId}}" name="{{item.controlId | translate}}" [(ngModel)]="model[item.controlId]">

                                <dx-date-box name="{{item.controlId}}" [value]="model[item.controlId]" [displayFormat]="this.authService.loadFormat().dateFormat + ' HH:mm:ss'" formControlName="{{item.controlId}}" [(ngModel)]="model[item.controlId]" *ngIf="value.controlType==='DateTime' && item.isView"
                                    type="datetime" [disabled]="isNew ? !item.isInsert?'disabled':null : !item.isEdit?'disabled':null">

                                </dx-date-box>
                                <!-- <dx-date-box #fromTime [(disabled)]="this.isVoucher" type="time" id="toCalendar"
                [(value)]="this.validTimeFrom"> </dx-date-box>  displayFormat="HH:mm:ss"-->
                                <dx-date-box name="{{item.controlId | translate}}" [value]="model[item.controlId]" formControlName="{{item.controlId}}" [(ngModel)]="model[item.controlId]" *ngIf="value.controlType==='Time' && item.isView" type="time" [disabled]="isNew ? !item.isInsert?'disabled':null : !item.isEdit?'disabled':null">

                                </dx-date-box>
                                <dx-switch *ngIf="value.controlType==='CheckBox' && item.isView" [(ngModel)]="model[item.controlId]" formControlName="{{item.controlId}}" name="{{item.controlId | translate}}" [(value)]="model[item.controlId]" [disabled]="isNew ? !item.isInsert?'disabled':null : !item.isEdit?'disabled':null">
                                </dx-switch>

                                <dx-select-box *ngIf="value.controlType==='DropDown' && item.isView" [style]="{'width':'100%'}" formControlName="{{item.controlId}}" name="{{item.controlId | translate}}" placeholder="--- {{'Select' | translate}} {{item.controlName | translate}} ---"
                                    [dataSource]="this[item.optionName]" displayExpr="{{item.optionKey}}" valueExpr="{{item.optionValue}}" [disabled]="isNew ? !item.isInsert?'disabled':null : !item.isEdit?'disabled':null"
                                    [(ngModel)]="model[item.controlId]" [value]="model[item.controlId]"></dx-select-box>
                                <label *ngIf="item.require && editForm.get(item.controlId).invalid" [ngClass]="'error-text'"> {{item.controlName | translate}} {{'is required' | translate}}. </label>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="col-md-12 text-right">
        <button [disabled]="!editForm.valid || !editForm.dirty" *ngIf="checkPermission('btnSave' ,'V')" form="editForm" class="btn-agree width-200 height-60">{{'Save Changes' | translate}}</button>
    </div>

</form>