 
<ng-container *ngIf="this.removeHeader === false">
      
   <app-shop-header (sideRightShow)="toggleSideBar($event)"></app-shop-header>
</ng-container>


<main class="wrap" id="main-pos">
    <div class="main-section">
<!--     
    <ng-container *ngIf="this.authService.storeSelected()===null || this.authService.storeSelected()===undefined  ">
        <div class="center-wrap" style="margin-top: 140px; padding-left: 40px;">
            
            <div class="row" style="width: 100%;">

                <ng-container *ngFor="let item of this.storeList; index as i">
                 
                    <app-shop-store-select class="col-md-4 mb-2" [ngClass]="{ kselected : i === this.hoverStore}" [(hoverStore)]='this.hoverStore'  (storeSelected)="changeStore($event)" [store]="item" [index]="i">
                    </app-shop-store-select>
                </ng-container>

            </div>
           

        </div>
    </ng-container>
    
    <ng-container *ngIf="(this.authService.storeSelected()!==null || this.authService.storeSelected()!==undefined ) && this.inProgress && this.loadingProgressModel.loadCompleted===false">
      
        <div class="center-wrap loadingComponent" *ngIf="this.authService.storeSelected()!==null && this.authService.storeSelected()!==undefined " style=" background: rgb(30, 30, 30, 0.8);">

            <div class="col-md-12 " *ngIf="this.loadingProgressModel.message!==undefined && this.loadingProgressModel.message!==null && this.loadingProgressModel.message!==''">
                <div class="row rowMessageSum mb-2" style="    margin-top: 100px; ">
                    <div class="col-md-8">
                        <div class="card-counter danger">
                            <i class="iconX far fa-times-circle"></i>
                            <span class="count-numbers messageSum"> {{this.loadingProgressModel.message}}</span>
                            <span class="count-name">
                              {{this.loadingProgressModel.data.description}}
                            </span>

                        </div>
                    </div>
                    <div class="col-md-4 p-1">
                        <button class="submit-btn" *ngIf="this.loadingProgressModel.data.code==='defaultCustomer'" style="width:100%;" (click)="useLocaUser()">Use Local User</button>

                        <button class="primary-btn submit-btn warning mt-2" style="width:100%;" (click)="logOut()">Logout</button>
                    </div>
                </div>

            </div>
            <ng-container *ngIf="this.loadingProgressModel?.message?.length <= 0 && this.authService.storeSelected()!==undefined && this.authService.storeSelected()!==null">

                <app-shop-loading></app-shop-loading>

            </ng-container>

 
        </div>
    </ng-container> -->

    <!-- && !this.inProgress && this.loadingProgressModel.loadCompleted -->

    <!-- <ng-container *ngIf="this.authService.storeSelected()!==null "> -->
        <ng-container *ngIf="this.removeHeader === false">
            <div class="sidebar-wrap" *ngIf="!(ShowMenu$ | async)">
                
            
                    <app-shop-left-menu (sideRightShow)="toggleSideBar($event)" (maintainanceShow)="togleSubmenu($event)">
                    </app-shop-left-menu>
            
        
            
            </div>
        </ng-container>
        <dx-drawer #drawer [openedStateMode]="selectedOpenMode" [position]="selectedPosition" [revealMode]="selectedRevealMode" 
            template="template" [(opened)]="isDrawerOpen" [closeOnOutsideClick]="true">


            <ng-container *ngIf="this.authService.storeSelected()===null || this.authService.storeSelected()===undefined">
                <div  *dxTemplate="let data of 'template'" style="background: #ffffff; color: #495057;  padding: 1rem; border: 0 none; box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);" [style]="{width:'35em' }">
                    <div class="modal-header">
                        <h3 class="modal-title pull-left" style="font-weight: 700;" id="my-modal-title"> {{this.companyInfor?.companyName}} </h3> 
                        <button type="reset" class="reset-btn mr-1 closeCustom" (click)="closeDraw()" style="width: 13%; height: 55px;">
                            <i class="fas fa-window-close"></i> 
                        </button>

                </div>
                
            </div>

            </ng-container>


          <ng-container *ngIf="this.authService.storeSelected()!==null   && this.authService.storeSelected()!== undefined ">
             
                <div  *dxTemplate="let data of 'template'" style="background: #ffffff; color: #495057;  padding: 1rem; border: 0 none; box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);" [style]="{width:'35em' }">
                    <div *ngIf="this.isMore===true">
    
                        <div class="maintenance-card">
    
                            <ng-container *ngFor="let group of this.subListGroup">
                                <div class="row">
                                    <h2 class="maintenance-heading">{{Group | translate}}</h2>
                                </div>
                                <div class="maintenance-row">
                                    <div class="row" style="width: 100%;">
                                        <!--  -->
                                        <div *ngFor="let item of filter(this.subListItemGroup, [group])" class="col-md-4  maintenance-service-wrapper" routerLinkActive="router-link-active">
                                            <div class="maintenance-service-box" [routerLink]="[item.Url]">
                                                <span class="service-icon contain-image">
                                                  <img src="../../../../assets/images/System/{{item.Icon || 'item-master.svg'}}"
                                                    alt="{{item.Name}}">
                                                </span>
                                                <label>{{item.Name}}</label>
                                            </div>
                                        </div>
    
                                    </div>
    
    
                                </div>
                            </ng-container>
                            <div class="row">
                                <h2 class="maintenance-heading">{{'More' | translate}}</h2>
                            </div>
    
                            <div class="maintenance-row">
                                <div class="row" style="width: 100%; margin-bottom: 150px;">
                                    <div *ngFor="let item of this.subList" class="maintenance-service-wrapper col-md-4" routerLinkActive="router-link-active">
                                        <div class="maintenance-service-box" [routerLink]="[item.Url]">
                                            <span class="service-icon contain-image">
                                              <img src="../../../../assets/images/System/{{item.Icon || 'item-master.svg'}}"
                                                alt="{{item.Name}}">
                                            </span>
                                            <label>{{item.Name}}</label>
                                        </div>
                                    </div>
    
                                </div>
    
    
                            </div>
    
    
                        </div>
                    </div>
                    <div *ngIf="this.isMore!==true">
                        <div class="modal-header">
                            <h3 class="modal-title pull-left" style="font-weight: 700;" id="my-modal-title"> {{this.companyInfor?.companyName}} </h3>
    
    
                            <button type="reset" class="reset-btn mr-1 closeCustom" (click)="closeDraw()" style="width: 13%; height: 55px">
                            <i class="fas fa-window-close"></i>
                    
                          </button>
    
                        </div>
    
                      

                        <ng-container *ngIf="!showDissallowanceList"> 
                            <ng-container *ngIf="isDrawerOpen"> 
                                <app-shop-tool-user (outEvvent)="closeDraw()" (shortCut)='isDrawerOpen'></app-shop-tool-user>
                            </ng-container>
                            
                            <div class="col-md-12 mb-3">
                                <div class="row">
        
                                    <div class="col-md-4"> {{'Keyboard' | translate}} </div>
                                    <div class="col-md-7" style="text-align: right;">
                                        <dx-switch width="50%" #swVirtualKey [value]="VirtualKey$ | async" (onValueChanged)="switchVirtualKey(swVirtualKey.value)"></dx-switch>
                                    </div>
        
                                </div>
        
                            </div>
                            <ng-container *ngIf="this.authService.storeSelected()!==null ">
                              <app-shop-tool-shift (outEvvent)="closeDraw()"></app-shop-tool-shift>
                            </ng-container>
                            <div class="col-md-12 mt-2 pt-3" style="border-top: 1px solid #495057;">
                                
                                <div class="row mb-2">
                                    <div class="col-md-8">
                                        <h4>
                                            <i class="fa fa-info" aria-hidden="true"></i> {{'Counter Information' | translate}} 
                                        </h4>
                                    </div>
                                    <div class="col-md-4" style="text-align:center" (click)="dissallowanceView()">
                                        <h4 > <i class="fas fa-wrench"></i> {{'View' | translate}} </h4>
                                    </div>
                                </div> 
                                <ng-container *ngIf="this.terminalRequire.toLowerCase()!=='fingerid'">
                                    {{'Counter ID' | translate}}: {{this.authService?.getStoreClient()?.publicIP === null || this.authService?.getStoreClient()?.publicIP === undefined 
                                        || this.authService?.getStoreClient()?.publicIP === ''  ? '' : this.authService?.getStoreClient()?.publicIP }}
                                </ng-container>
                                <ng-container *ngIf="this.terminalRequire.toLowerCase()==='fingerid'">
                                    {{'Counter ID' | translate}}: {{this.authService?.getStoreClient()?.publicIP === null || this.authService?.getStoreClient()?.publicIP === undefined 
                                        || this.authService?.getStoreClient()?.publicIP === ''  ? this.authService?.getLocalIP()?.toString() : this.authService?.getStoreClient()?.publicIP }}
                                </ng-container>
                                
                                <br> {{'Finger ID' | translate}}: {{this.authService?.getLocalIP()?.toString()}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="showDissallowanceList ">
                            <div class="col-md-12 mb-3 mt-3" > 
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3><i class="fas fa-ban" style="color:red"></i> {{'Dissallowance' | translate}} </h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3 (click)="dissallowanceView()"><i class="fas fa-chevron-left"></i> {{'Back' | translate}}</h3>
                                    </div>
                                </div> 
                            </div>
                            <ng-container *ngIf="disallowanceList?.length > 0">
                                <div class="col-md-12" *ngFor="let role of disallowanceList"> 
                                    <ng-container *ngIf="role?.permission?.toLowerCase() === 'v'">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </ng-container>
                                    <ng-container *ngIf="role?.permission?.toLowerCase() === 'e'">
                                        <i class="fas fa-edit"></i>
                                    </ng-container>
                                    <ng-container *ngIf="role?.permission?.toLowerCase() === 'i'">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </ng-container>
                                    <ng-container *ngIf="role?.permission?.toLowerCase() === 'a'">
                                        <i class="fas fa-check-circle"></i>
                                    </ng-container> 
                                    <ng-container *ngIf="role?.permission?.toLowerCase() !== 'v' && role?.permission?.toLowerCase() !== 'e'
                                    && role?.permission?.toLowerCase() !== 'i' && role?.permission?.toLowerCase() !== 'a'">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    </ng-container>
                                    <span *ngIf="role?.functionId?.length > 0">
                                        {{role?.function}}[{{role?.functionId}}] 
                                      </span>
                                     
                                      <span *ngIf="role?.controlId?.length > 0">
                                        - {{role?.control}} [{{role?.controlId}}] 
                                      </span>
                                </div>
                            </ng-container>
                          
                        </ng-container>
                        
                    </div>
                    
                   
                </div>
            
                
                 
                
          </ng-container>
           
          
          <router-outlet></router-outlet>
        
          <ng-container *ngIf="(VirtualKey$ | async) && this.authService.storeSelected()!==null  && this.authService.storeSelected()!== undefined"  >
                    <app-virtual-keyboard style="z-index: 1210;" ></app-virtual-keyboard>
                      
          </ng-container>  
        </dx-drawer>
        
    
        <!-- {{this.keyboardShow}}
        <ng-container *ngIf="this.keyboardShow"  >
            
            <app-virtual-keyboard style="z-index: 1210;"></app-virtual-keyboard>
        </ng-container>  -->
<!-- 
        <button type="reset" class="reset-btn mr-1 closeCustom" (click)="toggleSideBarKey(!this.keyboardShow)" style="width: 13%; height: 55px">
            <i class="fas fa-window-close"></i> thZZ
    
          </button> -->

    </div>

</main>
 
