<!-- Modal HTML -->
<!--  
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-login modal-change-pass">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{'Change password' | translate}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="changePass">&times;</button>
            </div>
            <div class="modal-body">

              
            </div>
        </div>
    </div>
</div> -->
<!-- <div id="myModal" > -->

            <div class="form-group" style="    width: 100%;">
                <label>{{'Current password' | translate}} <span style="color: red;">(*)</span></label>
                <input type="password" [(ngModel)]="currentPassword" class="form-control" name="curPass" placeholder="{{'Current password' | translate}}" (keyup)="checkPass()">
                <span style="color: red; font-size: 12px; font-style: italic;">{{errcurrentPassword}}</span>
            </div>
            <div class="form-group" style="    width: 100%;">
                <label>{{'New password' | translate}} <span style="color: red;">(*)</span></label>
                <input type="password" [(ngModel)]="newPassword" class="form-control" name="newPass" placeholder="{{'New password' | translate}}" (keyup)="checkEmpty()">
                <span style="color: red; font-size: 12px; font-style: italic;">{{errnewPassword}}</span>
            </div>
            <div class="form-group" style="    width: 100%;">
                <label>{{'Confirm password' | translate}} <span style="color: red;">(*)</span></label>
                <input type="password" [(ngModel)]="confirmPassword" class="form-control" name="confirmPass" placeholder="{{'Confirm password' | translate}}" (keyup)="checkEmpty()">
                <span style="color: red; font-size: 12px; font-style: italic;">{{errconfirmPassword}}</span>
            </div>
            <div class="form-group" style="    width: 100%;">
                <span style="color: green; font-size: 18px; font-style: italic;">{{infosuccess}}</span>
                <input type="submit" class="btn btn-block btn-lg primary-btn payment-btn" value="{{'Save' | translate}}" (click)="changePass()">
            </div>
     
<!-- </div> -->
