.dx-popup-wrapper > .dx-overlay-content{
    min-width: 500px;
}
#dx-col-1-fixed
{
    background-color: #c44040;
    color: white;
}

.dx-treelist .dx-column-lines > td:first-child{
  background-color: #c44040;
  color: white;
}
.dx-treelist .dx-column-lines > td:last-child
{
  background-color: #c44040;
  color: white;
} 
.dx-multiview-item-content{
  overflow-x: hidden!important;
}