<div class="center-wrap">
    <div class="maintenance-card" style="margin: auto;    width: 100%;">
        <div class="search-wrap">
            <label for="item-searchbar" class="section-title">{{'Employee' | translate}}</label>

        </div>

        <div class="row">
            <div class="col-md-10">
                <dx-button class="mr-2" (onClick)="downloadTemplate()" icon="xlsxfile" type="default" text="{{'Template' | translate}}"> </dx-button>

                <dx-button stylingMode="outlined" type="default" [width]="120">
                    <label style="margin:.1rem;">
              <i class="fas fa-paperclip"></i>
              {{'Select File' | translate}} 
              <input hidden type="file" (change)="onFileChange($event)" multiple="false">
            </label>
                </dx-button>


            </div>
            <div class="col-md-2" style="text-align: right;">

                <dx-button (onClick)="onImportData()" *ngIf="this.importContent.length > 0" icon="fas fa-file-import" type="success" text="{{'Import' | translate}}"> </dx-button>

            </div>
        </div>
        <div class="row" *ngIf="this.importContent.length > 0" style="padding-top: 10px;">
            <div class="col-md-12">
                <dx-data-grid id="gridContainer" [dataSource]="this.importContent" [showBorders]="true">

                    <dxi-column dataField="employeeId" caption="{{'Employee ID' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="employeeName" caption="{{'Employee Name' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="position" caption="{{'Position' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="status" caption="{{'Status' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="storeId" caption="{{'StoreId' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="fromDate" caption="{{'FromDate' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="toDate" caption="{{'To Date' | translate}}" dataType="string"> </dxi-column>

                    <dxi-column dataField="success" *ngIf="this.isResult" caption="{{'Success' | translate}}" dataType="string"> </dxi-column>
                    <dxi-column dataField="message" *ngIf="this.isResult" caption="{{'Message' | translate}}" dataType="string"> </dxi-column>

                </dx-data-grid>
            </div>
        </div>
    </div>
</div>