<div class="center-wrap">
  <div class="maintenance-card" style="margin: auto;    width: 100%;">
    <div class="search-wrap">
      <label for="item-searchbar" class="section-title">
        {{'TableList' | translate}}
      </label>
    </div>
    <div class="table-wrap">
      <dx-data-grid id="gridContainer" (onToolbarPreparing)="onToolbarPreparing($event)" [dataSource]="sourceData"
        [remoteOperations]="false" [allowColumnReordering]="true" [rowAlternationEnabled]="true" [showBorders]="true"
        [showRowLines]="true" class="mt-1 p-3">

        <dxo-paging [pageSize]="10"></dxo-paging>

        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

        <dxi-column caption="{{'TableName' | translate}}" dataField="tableName" dataType="string"></dxi-column>
        <dxi-column caption="{{'PlaceName' | translate}}" dataField="placeOfTable" dataType="string"></dxi-column>
        <dxi-column caption="{{'createdBy' | translate}}" dataField="createdBy" dataType="string"></dxi-column>

        <dxi-column caption="{{'createdOn' | translate}}" dataField="createdOn" dataType="date"
          [format]="this.authService.loadFormat().dateFormat">
        </dxi-column>

        <dxi-column caption="{{'Status' | translate}}" dataField="status" cellTemplate="statusTemplate"
          dataType="string" [width]="150">
        </dxi-column>
        <dxi-column caption="{{'Description' | translate}}" dataField="description" dataType="string"></dxi-column>

        <div *dxTemplate="let cell of 'statusTemplate'">
          <div [innerHtml]="cell.data.status | statusFormat"></div>
        </div>

        <dxi-column [width]="400" cellTemplate="cellTemplate"></dxi-column>
        <div *dxTemplate="let cell of 'cellTemplate'">
          <div>
            <div class="row">
              <div class="col-6" style="margin-top:5px ;">
                <dx-button icon="fas fa-edit" style="width:100%" text="{{'Edit' | translate}}"
                  (onClick)="btnCreateModal(template,cell.data)"></dx-button>
              </div>
              <div class="col-6" style="margin-top:5px ;">
                <dx-button type="danger" style="width:100%" icon="trash" text="{{'Delete' | translate}}"
                  (onClick)="btnDelele(cell.data,cell.data.tableName)"></dx-button>
              </div>
            </div>
          </div>
        </div>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left" id="my-modal-title">
              (<strong class="text-blue">{{'Store' | translate}} - {{storeId}}</strong>)
              <strong *ngIf="isNew"> {{'TableInfor' | translate}}</strong>
              <strong *ngIf="!isNew">
                <span> {{'TableName' | translate}} - {{table.tableName}}</span>
                <span *ngIf="table.placeOfTable !== undefined">
                  ({{'PlaceOfTable' | translate}} -
                  <span>{{table.placeOfTable}})</span></span>
              </strong>
            </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <img src="../../../assets/images/System/times.svg">
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 row" style="margin-top: 10px;">

                <div class="col-md-4">{{'Table Name ' | translate}} <span class="text-red">(*)</span></div>
                <div class="col-md-8">
                  <dx-text-box #txtTableName [(ngModel)]="this.table.tableName" [value]="this.table?.tableName"
                    placeholder="{{'' | translate}}">
                  </dx-text-box>
                </div>
              </div>

              <div class="col-md-6 row" style="margin-top: 10px;">
                <div class="col-md-4">{{'Status ' | translate}} </div>
                <div class="col-md-8">
                  <dx-select-box #cbbStatus [items]="listStatus" [(ngModel)]="this.table.status" displayExpr="name"
                    [value]="this.table?.status" valueExpr="value" placeholder="Active"></dx-select-box>
                </div>
              </div>


              <div class="col-md-6 row" style="margin-top: 10px;">
                <div class="col-md-4">{{'Seat ' | translate}} <span class="text-red">(*)</span></div>
                <div class="col-md-8">
                  <dx-select-box #cbbStatus [items]="listSeat" [(ngModel)]="this.table.slot" displayExpr="name"
                    [value]="this.table?.slot" valueExpr="value" placeholder="2">
                  </dx-select-box>
                </div>                
              </div>
              <div class="col-md-6 row" style="margin-top: 10px;">               
                <div class="col-md-4">{{'Dimension ' | translate}}</div>
                <div class="col-md-8 ">
                  <dx-text-box #txtwidth [value]="this.table?.width" [(ngModel)]="this.table.width"
                    placeholder="{{'(witdh x long)' | translate}}">
                  </dx-text-box>
                </div>
              </div>
              <!-- <div class="col-md-6 row" style="margin-top: 10px;">
                <div class="col-md-4">{{'Seat' | translate}} </div>
                <div class="col-md-8">
                  <dx-text-box [showSpinButtons]="true" [min]="0" [max]="100" [step]="1" #txtslot
                    [value]="this.table?.slot" [(ngModel)]="this.table.slot" placeholder="{{'' | translate}}">
                  </dx-text-box>
                </div>
              </div> -->

              <div class="col-md-6 row" style="margin-top: 10px;">
                <div class="col-md-4">{{'Description ' | translate}} </div>
                <div class="col-md-8">
                  <dx-text-box #txtdescription [value]="this.table?.description" [(ngModel)]="this.table.description"
                    placeholder="{{'' | translate}}">
                  </dx-text-box>
                </div>
              </div>
              <div class="col-md-6 row" style="margin-top: 10px;">
                <div class="col-md-4">{{' Remark ' | translate}} </div>
                <div class="col-md-8">
                  <dx-text-box #txtremark [value]="this.table?.remark" [(ngModel)]="this.table.remark"
                    placeholder="{{'' | translate}}">
                  </dx-text-box>
                </div>
              </div>

              <div class="col-md-6 row" style="margin-top: 10px;">
                <div class="col-md-4">{{' CustomField1 ' | translate}} </div>
                <div class="col-md-8">
                  <dx-text-box #txtcustomField1 [value]="this.table?.customField1" [(ngModel)]="this.table.customField1"
                    placeholder="{{'' | translate}}">
                  </dx-text-box>
                </div>
              </div>

              <div class="col-md-6 row" style="margin-top: 10px;">
                <div class="col-md-4">{{' CustomField2 ' | translate}} </div>
                <div class="col-md-8">
                  <dx-text-box #txtcustomField2 [value]="this.table?.customField2" [(ngModel)]="this.table.customField2"
                    placeholder="{{'' | translate}}">
                  </dx-text-box>
                </div>
              </div>

              <div class="col-md-6 row" style="margin-top: 10px;">
                <div class="col-md-4">{{' CustomField3 ' | translate}} </div>
                <div class="col-md-8">
                  <dx-text-box #txtcustomField3 [value]="this.table?.customField3" [(ngModel)]="this.table.customField3"
                    placeholder="{{'' | translate}}">
                  </dx-text-box>
                </div>
              </div>

              <div class="col-md-6 row" style="margin-top: 10px;">
                <div class="col-md-4">{{' CustomField4 ' | translate}} </div>
                <div class="col-md-8">
                  <dx-text-box #txtcustomField4 [value]="this.table?.customField4" [(ngModel)]="this.table.customField4"
                    placeholder="{{'' | translate}}">
                  </dx-text-box>
                </div>
              </div>

              <div class="col-md-6 row" style="margin-top: 10px;">
                <div class="col-md-4">{{' CustomField5 ' | translate}} </div>
                <div class="col-md-8">
                  <dx-text-box #txtcustomField5 [value]="this.table?.customField5" [(ngModel)]="this.table.customField5"
                    placeholder="{{'' | translate}}">
                  </dx-text-box>
                </div>
              </div>
            </div>
            <div style="text-align:right;margin-top: 15px;">
              <button (click)="saveInfo()" class="btn-agree width-200 height-60">{{'Save Changes' | translate}}</button>
            </div>
          </div>
        </ng-template>

      </dx-data-grid>
    </div>
  </div>
</div>

<ng-template #templateImportTale>
  <div class="modal-header">
    <h4 class="modal-title pull-left" id="my-modal-title">{{'Import' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <img src="../../../assets/images/System/times.svg">
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <app-managenment-import-tableInfor [importContent]="this.importContent"
        style="width: 100%"></app-managenment-import-tableInfor>
    </div>
  </div>
</ng-template>

<!-- Store ID
<input #txtCompanyCode [value]="this.table?.companyCode">
Table Name
<input #txtTableName  [value]="this.table?.tableName" >
Table ID
<input #txtTableId  [value]="this.table?.tableId" >
 Status
<dx-select-box class="mt-2" #cbbStatus [items]="listStatus"  displayExpr="name" valueExpr="value" 
placeholder="Active"></dx-select-box>  -->