.deliveryReturnEdit__background{
    background:white;
    padding:20px;
    height: 800px;
    margin: 20px;
    border:1px solid #f0f0f0;
    border-radius:10px
}
.deliveryReturnEdit__fsw{
    font-size: 32px;
    font-weight: 700;
}

